<template name="calendarTogglesInitial">
  <div class="toggle-table-container">
    <div class="toggle-table-item">
      Locations
    </div>
    <div class="toggle-table-item">
      Device location
      <img class="toggle-icon" src="images/yellow-toggle.png">
    </div>
    <div class="toggle-table-item">
      <div>
        <span class="material-icons calendar-controls-info">info</span>
        TRACer
      </div>
      <img class="toggle-icon" src="images/yellow-toggle.png">
    </div>
    <div class="toggle-table-item add-sources">
      <div>
        Add sources
      </div>
      <i class="material-icons add-icon">add_circle</i>
    </div>
    <div class="calendar-control-button-container">
      <button type="button" class="calendar-control-button">Add a new activity</button>
      <button type="button" class="calendar-control-button">Download reports</button>
    </div>
  </div>
</template>
