<template name="calendarEntriesCompletedCard">
  <div class="card ey-card-container calendar-entries-card">
    <div class="title-container">
      <div class="ey-card-title-txt">Calendar entries</div>
    </div>
    <div class="calendar-entries-content">
      <div class="text-container verify">
        <div class="text">
          <i class="material-icons green-color">check_circle</i>
          Your Calendar has completed your inputs for December 2018
        </div>
      </div>
    </div>
  </div>
</template>
