<template name="stateOfComplianceContent2">
  <div class="state-compliance-content">
    <div class="state-compliance-left ">
      <div class="compliance-title">Assignee data delivery<i class="material-icons">info</i></div>
      <div class="big-bar-container">
        <div class="ey-card-travel-bar-container w-clearfix">
          <div class="ey-card-travel-bar soc2-bar">
            <div class="ey-card-travel-bar-label soc2">
              <div class="soc-big">67%</div>
              <div><p>Delivered to<br/>tax authorities</p></div>
            </div>
            <div class="ey-card-travel-bar-soc2"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="state-compliance-right">
      <div class="compliance-title">Total tax liabilities<i class="material-icons">info</i></div>
      <div class="two-figures-container">
        <div class="two-figures-content">
          <div class="big-text">$23.1M</div>
          <div>Aggregate amount</div>
        </div>
        <div class="two-figures-content">
          <div class="big-text">$10,645</div>
          <div>Average per assignee</div>
        </div>
      </div>
    </div>
  </div>
  <div class="soc-nav-dots">
    <div class="nav-dots">
      <div class="nav-dot"></div>
      <div class="nav-dot active"></div>
      <div class="nav-dot"></div>
    </div>
  </div>
</template>
