<template name="stateOfComplianceContent3">
  <div class="state-compliance-content">
    <div class="state-compliance-left ">
      <div class="compliance-title">Total net tax refunds<i class="material-icons">info</i></div>
      <div class="soc-two-graphs">
        <div class="soc-two-graphs-left">
          <div class="soc-two-graphs-light-text">Aggregate</div>
          <div class="soc-two-graphs-light-text">amount</div>
          <div class="soc-two-graphs-big-text">$3.2M</div>
        </div>
        <div class="soc-two-graphs-right">
          {{> socSubchart2}}
        </div>
      </div>
      <div class="ey-card-travel-bar-container w-clearfix">
        <div class="ey-card-travel-bar soc-bar">
          <div class="ey-card-travel-bar-label soc soc3">Collected: <span class="soc-dark">88%</span></div>
          <div class="ey-card-travel-bar-soc3"></div>
        </div>
      </div>
    </div>
    <div class="state-compliance-right">
      <div class="compliance-title">Total net tax equalization settlements<i class="material-icons">info</i></div>
      <div class="two-figures-container">
        <div class="two-figures-content">
          <div class="big-text">$1.2M</div>
          <div>Aggregate amount</div>
        </div>
        <div class="two-figures-content">
          <div class="big-text">$552</div>
          <div>Average per assignee</div>
        </div>
      </div>
    </div>
  </div>
  <div class="soc-nav-dots">
    <div class="nav-dots">
      <div class="nav-dot"></div>
      <div class="nav-dot"></div>
      <div class="nav-dot active"></div>
    </div>
  </div>
</template>
