<template id="" name="cardPendingActivitiesCompliance">
  <div class="card ey-card-container">
    <div class="ey-card-title">
      <div class="ey-card-title-txt">Pending Activities</div>
    </div>
    <div class="ey-card-activities-block w-clearfix">
      <div class="ey-card-activities-block_checkbox"><i class="material-icons">check_box</i></div>
      <div class="ey-card-activities-block_checkbox_txt" >
        <div class="ey-card-activities_text_1 text_2">Validate Personal Details</div>
        <div class="ey-card-activities_text_1 second_text">Due 21st February</div>
        <a class="ey-card-activities_text_link" href="#">Access Profile</a>
      </div>
    </div>
    <div class="ey-card-activities-block last w-clearfix">
    <div class="ey-card-activities-block_checkbox"><i class="material-icons">check_box_outline_blank</i></div>
      <div class="ey-card-activities-block_checkbox_txt">
        <div class="ey-card-activities_text_1 text_2">Validate Calendar Update</div>
        <div class="ey-card-activities_text_1 second_text">Due in 8 days</div>
        <a class="ey-card-activities_text_link" href="#">Access Calendar</a>
      </div>
    </div>
  </div>

</template>
