<template id="" name="cardAssistant">
  <div class="card ey-card-container card-assistant">
    <div class="ey-card-title">
      <div class="ey-card-title-txt">Assistant</div>
    </div>
    <div class="ey-card-list">
      <div class="ey-card-list_item">
      	<a href="#">FAQ</a>
      	<i class="material-icons ey-card-item-content-right-icon">keyboard_arrow_right</i>
      </div>
      <div class="ey-card-list_item last">
      	<a href="#">Wiki moves</a>
      	<i class="material-icons ey-card-item-content-right-icon">keyboard_arrow_right</i>
      </div>
    </div>
  </div>
</template>
