<template id="" name="imigrationSection">


<div class="2-col-K-cards">
  <div class="ey-knowledge-card" style="margin-right: 24px;">
    <img  src="images/latam.png">
    <div class="ey-knowledge-article-caption-bloc">
      <p class="ey-knowledge-resources-title">Immigration update: Africa</p>
    </div>
    <div class="ey-knowledge-article-link">Read more</div>
  </div>

  <!-- -->

  <div class="ey-knowledge-card ey-knowledge-card-right" >
    <img src="images/Talent.png" >
    <div class="ey-knowledge-article-caption-bloc">
      <p class="ey-knowledge-resources-title">How mobility supports the talent agenda for...</p>
    </div>
    <div class="ey-knowledge-article-link">Read more</div>
  </div>

  <!-- -->

    <div class="ey-knowledge-card" style="margin-right: 24px;">
    <img  src="images/Future.png">
    <div class="ey-knowledge-article-caption-bloc">
      <p class="ey-knowledge-resources-title">Future of mobility 2017</p>
    </div>
    <div class="ey-knowledge-article-link">Read more</div>
  </div>

  <!-- -->

  <div class="ey-knowledge-card ey-knowledge-card-right">
    <img  src="images/tax.png" >
    <div class="ey-knowledge-article-caption-bloc">
      <p class="ey-knowledge-resources-title">Tax changes Dubai</p>
    </div>
    <div class="ey-knowledge-article-link">Read more</div>
  </div>


</div><!-- /.2-col-K-cards -->


</template>
