<template id="" name="calendaReview">
  <div class="card ey-card-container ey-card-container-large">
    <div class="ey-card-title ey-card-title_large">
      <div class="ey-card-title-txt">Calendar</div>
    </div>
    <div class="ey-card-content">
      <a class="ey-card-travel-card_1 w-inline-block" href="#">
        <p class="ey-card-travel_grey-txt">Please <span
            class="ey-risks-card-link">review and submit your calendar</span> for the tax year 2018/19</p>
      </a>
      <a class="travel-s__sub-txt w-clearfix no-link-style-grey" href="/calendar">
        <span class="material-icons trav-icon ">date_range</span>
        <span class="no-link-style-grey"> Review and submit your calendar </span>
        <i class="material-icons chevron_right material-icons right travel-s__sub-icon">chevron_right</i>
      </a>
    </div>
    <div class="ey-card-large-footer">
      <a href="#" class=" ey-card-travel_blue-txt">View calendar <i
          class="material-icons chevron_right">chevron_right</i></a>
    </div>
  </div>
</template>
