<template id="" name="businessTravelerRiskZoom">
  <div class="card travel-summary tax-map-container">
    <div class="tax-map-left">
    <div class="permanent-risk__zoom-out-hover-button"></div>
      <img class="tax-map-img" src="images/map-irak.png">
    </div>
    <div class="tax-map-right">
      {{> dropdownBusinessTraveler}}
      <div class="travel-summary__global-cost-title">
        Iraq business presence
      </div>

      <div class="travel-summary__details travel-summary__details-cost">
        <div>401 Employees</div>
        <div>200 Days worked</div>
        <div>400,000 USD total compensation</div>
      </div>
    </div>
  </div>
</template>
