<template id="" name="cardPendingActivitiesAssignment">
  <div class="card ey-card-container pending-before">
    <div class="ey-card-title">
      <div class="ey-card-title-txt">Pending Activities</div>
    </div>
    <div class="ey-card-activities-block w-clearfix">
      <div class="ey-card-activities-block_checkbox"><i class="material-icons">check_box_outline_blank</i></div>
      <div class="ey-card-activities-block_checkbox_txt" >
        <div class="ey-card-activities_text_1 text_2">Complete your Tax Organiser</div>
        <div class="ey-card-activities_text_1 second_text">Due by 31st December</div>
        <a class="ey-card-activities_text_link" href="#">View</a>
      </div>
    </div>
    <div class="ey-card-activities-block w-clearfix">
      <div class="ey-card-activities-block_checkbox"><i class="material-icons">check_box_outline_blank</i></div>
      <div class="ey-card-activities-block_checkbox_txt">
        <div class="ey-card-activities_text_1 text_2">Complete your Post-Assignment Survey</div>
        <div class="ey-card-activities_text_1 second_text">Due by 31st August</div>
        <a class="ey-card-activities_text_link" href="#">Take Survey</a>
      </div>
    </div>
  </div>

<!-- after upload -->
  <div class="card ey-card-container pending-after">
    <div class="ey-card-title">
      <div class="ey-card-title-txt">Pending Activities</div>
    </div>
    <div class="ey-card-activities-block w-clearfix">
      <div class="ey-card-activities-block_checkbox"><i class="material-icons">check_box</i></div>
      <div class="ey-card-activities-block_checkbox_txt">
        <div class="ey-card-activities_text_1 text_2" id="upload-passport-activity-text">Upload Passport Scan</div>
        <div class="ey-card-activities_text_1 second_text" id="upload-activity-status-text">Submitted just now</div><a class="ey-card-activities_text_link" href="#">Check Status</a>
      </div>
    </div>
    <div class="ey-card-activities-block w-clearfix">
      <div class="ey-card-activities-block_checkbox"><i class="material-icons">check_box_outline_blank</i></div>
      <div class="ey-card-activities-block_checkbox_txt">
        <div class="ey-card-activities_text_1 text_2">Validate Flight Details</div>
        <div class="ey-card-activities_text_1 second_text">Provided from HRG 1 week ago</div><a class="ey-card-activities_text_link" href="#">Validate</a>
      </div>
    </div>
    <div class="ey-card-activities-block last w-clearfix">
      <div class="ey-card-activities-block_checkbox"><i class="material-icons">check_box_outline_blank</i></div>
      <div class="ey-card-activities-block_checkbox_txt">
        <div class="ey-card-activities_text_1 text_2">Book Accomodation</div>
        <div class="ey-card-activities_text_1 second_text">Due in 1 month</div><a class="ey-card-activities_text_link" href="#">Access Relocation Services</a>
      </div>
    </div>
  </div>
</template>
