<template id="" name="taxAssignment">
  <div class="card ey-card-container ey-card-container-large">
    <div class="ey-card-title ey-card-title_large">
      <div class="ey-card-title-txt">Tax</div>
    </div>
    <div class="ey-card-content">
      <div class="ey-card-travel-card_1 w-inline-block" href="#">
        <p class="ey-card-travel_grey-txt">Your tax return for Brazil is due on 31st January. You need to complete your
          tax organizer submission by 31st December.</p>
        <p class="ey-card-travel_grey-txt short-line-height">Your Tax Organizer is 70% complete. The following documents
          have been submitted to your tax organizer:</p>
        <p class="ey-card-travel_grey-txt"><i class="material-icons check">check_circle</i>Passport Scan<span
            class="ey-card-travel_grey-subtext">Uploaded 31st September</span></p>
        <p class="ey-card-travel_grey-txt"><i class="material-icons check">check_circle</i>Wage Statement<span
            class="ey-card-travel_grey-subtext">Uploaded 23rd August</span></p>
        <p class="ey-card-travel_grey-txt"><i class="material-icons check">check_circle</i>Annual Statement of
          Interest<span class="ey-card-travel_grey-subtext">Uploaded 17th May</span></p>
      </div>
      <div class="travel-s__sub-txt w-clearfix"><span class="material-icons trav-icon ">assignment</span><a href="#"
                                                                                                            class="no-link-style-grey">
        Complete Tax Organizer Survey </a><i
          class="material-icons chevron_right material-icons right travel-s__sub-icon">chevron_right</i></div>

    </div>

    <div class="ey-card-large-footer">
      <a href="#" class="ey-card-travel_blue-txt">Review and Send Documents <i class="material-icons chevron_right">chevron_right</i></a>
    </div>

  </div>
</template>
