<template id="" name="travelers-filtered-table">
  <div class="card contact_card ey-card-container state-compliance">
    <div class="ey-card-title">
      <div class="ey-card-title-txt">
        Travelers
      </div>
    </div>
    <div class="head-mobility-vendor__content">
      <div class="head-mobility-vendor__table-row head-mobility-vendor__table-header">
        <div class="head-mobility-vendor__table-col-medium">Name</div>
        <div class="head-mobility-vendor__table-col-small travelers__home-col">Home
        </div>
        <div class="head-mobility-vendor__table-col-small">Destination</div>
        <div class="head-mobility-vendor__table-col-small">Trip cost</div>
        <div class="head-mobility-vendor__table-col-x-small">Risk type</div>
        <div class="head-mobility-vendor__table-col-medium centered">Days traveled</div>
        <div class="head-mobility-vendor__table-col-small centered">Action</div>
      </div>

      <div class="head-mobility-vendor__table-row head-mobility-vendor__table-body">
        <div class="head-mobility-vendor__table-col-medium head-mobility-vendor__table-cell-text">Mabelle Hawkins</div>
        <div class="head-mobility-vendor__table-col-small head-mobility-vendor__table-cell-text">GER <img
            src="images/Germany.png" class="travelers__home-flag-image"></div>
        <div class="head-mobility-vendor__table-col-small head-mobility-vendor__table-cell-text">IRQ <img
            src="images/Iraq.png" class="travelers__destination-flag-image"></div>
        <div class="head-mobility-vendor__table-col-small head-mobility-vendor__table-cell-text">$6,500</div>
        <div class="head-mobility-vendor__table-col-x-small head-mobility-vendor__table-cell-text">IMM</div>
        <div class="head-mobility-vendor__table-col-medium centered head-mobility-vendor__table-cell-text">57</div>
        <div class="head-mobility-vendor__table-col-small centered head-mobility-vendor__table-cell-text">
            <a href="#" class="no-link-style-blue">View</a>
        </div>
      </div>

      <div class="head-mobility-vendor__table-row head-mobility-vendor__table-body last">
        <div class="head-mobility-vendor__table-col-medium head-mobility-vendor__table-cell-text">Jayden Carroll
        </div>
        <div class="head-mobility-vendor__table-col-small head-mobility-vendor__table-cell-text">GER <img
            src="images/Germany.png" class="travelers__home-flag-image"></div>
        <div class="head-mobility-vendor__table-col-small head-mobility-vendor__table-cell-text">IRQ <img
            src="images/Iraq.png" class="travelers__destination-flag-image"></div>
        <div class="head-mobility-vendor__table-col-small head-mobility-vendor__table-cell-text">$8,500</div>
        <div class="head-mobility-vendor__table-col-x-small head-mobility-vendor__table-cell-text">IMM</div>
        <div class="head-mobility-vendor__table-col-medium centered head-mobility-vendor__table-cell-text">60</div>
        <div class="head-mobility-vendor__table-col-small centered head-mobility-vendor__table-cell-text">
            <a href="#" class="no-link-style-blue">View</a>
        </div>
      </div>

      <div class="head-mobility-vendor__table-row head-mobility-vendor__table-body">
        <div class="head-mobility-vendor__table-col-medium head-mobility-vendor__table-cell-text">Joseph Owens</div>
        <div class="head-mobility-vendor__table-col-small head-mobility-vendor__table-cell-text">GER <img
            src="images/Germany.png" class="travelers__home-flag-image"></div>
        <div class="head-mobility-vendor__table-col-small head-mobility-vendor__table-cell-text">IRQ <img
            src="images/Iraq.png" class="travelers__destination-flag-image"></div>
        <div class="head-mobility-vendor__table-col-small head-mobility-vendor__table-cell-text">$6,500</div>
        <div class="head-mobility-vendor__table-col-x-small head-mobility-vendor__table-cell-text">IMM</div>
        <div class="head-mobility-vendor__table-col-medium centered head-mobility-vendor__table-cell-text">60</div>
        <div class="head-mobility-vendor__table-col-small centered head-mobility-vendor__table-cell-text">
            <a href="#" class="no-link-style-blue">View</a>
        </div>
      </div>

    </div>
  </div>
</template>
