<template name="employeeInfo">

	<div class="employee-info">
		<div class="employee-info__container card ey-card-container">
		<div class="employee-info__picture-container">
			<img width="90px" src="images/Felipe_EmployeeProfile.jpg">
		</div>
			<div class="employee-info__header">
				<div class="employee-info__name">Felipe Costa</div>
				<div class="employee-info__position">Director, HR and Talent | UK</div>
				<div class="employee-info__badge"><span>VIP</span></div>
			</div>

			<div class="employee-info__detail">
				<div class="employee-info__detail-item">
					<div class="employee-info__detail-item-icon">
						<i class="material-icons">pin_drop</i>
					</div>
					<div class="employee-info__detail-item-text">
					<div class="employee-info__detail-item-label">Current location</div>
					<div class="employee-info__detail-item-value">Bolivia</div>
					</div>
				</div>
				<div class="employee-info__detail-item">
					<div class="employee-info__detail-item-icon">
						<i class="material-icons">description</i>
					</div>
					<div class="employee-info__detail-item-text">
					<div class="employee-info__detail-item-label">Current deployment plan</div>
					<div class="employee-info__detail-item-value">International assignment</div>
					</div>
				</div>
				<div class="employee-info__detail-item">
					<div class="employee-info__detail-item-icon">
						<i class="material-icons">account_balance</i>
					</div>
					<div class="employee-info__detail-item-text">
					<div class="employee-info__detail-item-label">Tax liabilities</div>
					<div class="employee-info__detail-item-value">UK, Bolivia, Ecuador</div>
					</div>
				</div>
				<div class="employee-info__detail-item">
					<div class="employee-info__detail-item-icon">
						<i class="material-icons">public</i>
					</div>
					<div class="employee-info__detail-item-text">
					<div class="employee-info__detail-item-label">Nationality</div>
					<div class="employee-info__detail-item-value">United Kingdom</div>
					</div>
				</div>
				<div class="employee-info__detail-item">
					<div class="employee-info__detail-item-icon">
						<i class="material-icons">group</i>
					</div>
					<div class="employee-info__detail-item-text">
					<div class="employee-info__detail-item-label">Marital status</div>
					<div class="employee-info__detail-item-value">Married to Lisa Wiltz</div>
					</div>
				</div>
				<div class="employee-info__detail-item">
					<div class="employee-info__detail-item-icon">
						<i class="material-icons">child_care</i>
					</div>
					<div class="employee-info__detail-item-text">
					<div class="employee-info__detail-item-label">Dependents</div>
					<div class="employee-info__detail-item-value">2</div>
					</div>
				</div>
			</div>

			<div class="employee-info__feedback-container">
				<div class="employee-info__feedback-title">Feedback</div>
				<div class="employee-info__feedback-stars-container">
					<i class="material-icons">star_rate</i>
					<i class="material-icons">star_rate</i>
					<i class="material-icons">star_rate</i>
					<i class="material-icons">star_rate</i>
					<i class="material-icons">star_half</i>
				</div>
			</div>

			<div class="employee-info__footer">
				<div class="employee-info__contact-button">
					<span>Contact Felipe</span>
				</div>
			</div>

		</div>
	</div>

</template>
