<template id="" name="myTasks">
  <div class="card ey-card-container">
    <div class="ey-card-title">
      <div class="ey-card-title-txt">My tasks</div>
    </div>

    <a class="my-task-btn ey-card-item-container ey-card-my-task-list w-inline-block" href="#">
      <div class="ey-card-item w-clearfix">

          <div class="ey-card-item-content ey-card-my-task-list-content">
            <span class="ey-card-my-task-list-title">You have</span>
            <p class="ey-card-my-task-list-link">5 non-compliant employees</p>
            <i class="material-icons righ-icon">chevron_right</i>
          </div>
      </div><!--/.ey-card-item -->
    </a><!--/.ey-card-my-task-list -->

    <a class="my-task-btn2 ey-card-item-container ey-card-my-task-list w-inline-block" href="#">
      <div class="ey-card-item w-clearfix">
        <div class="ey-card-item-content ey-card-my-task-list-content">
            <span class="ey-card-my-task-list-title">You have</span>
            <p class="ey-card-my-task-list-link">4 tax payments to authorise</p>
            <i class="material-icons righ-icon">chevron_right</i>
          </div>
      </div><!--/.ey-card-item -->
    </a><!--/.ey-card-my-task-list -->

    <a class="ey-card-item-container ey-card-my-task-list w-inline-block" href="#">
      <div class="ey-card-item last w-clearfix">
        <div class="ey-card-item-content ey-card-my-task-list-content">
            <span class="ey-card-my-task-list-title">You have</span>
            <p class="ey-card-my-task-list-link">3 workflow tasks to approve</p>
            <i class="material-icons righ-icon">chevron_right</i>
          </div>
      </div><!--/.ey-card-item -->
    </a><!--/.ey-card-my-task-list -->

    <div class="ey-card-large-footer">
        <a href="#" class="ey-card-travel_blue-txt">View all tasks <i class="material-icons chevron_right">chevron_right</i></a>
    </div>

  </div>
</template>
