<template id="" name="servicesAndTools">
  <div class="card ey-card-container card-assistant">
    <div class="ey-card-title">
      <div class="ey-card-title-txt">Services and tools</div>
    </div>
    <div class="ey-card-list">
      <div class="ey-card-list_item">
      	<a href="#">Compensation repository</a>
      	<i class="material-icons ey-card-item-content-right-icon">keyboard_arrow_right</i>
      </div>
      <div class="ey-card-list_item">
      	<a href="#">Variance analysis</a>
      	<i class="material-icons ey-card-item-content-right-icon">keyboard_arrow_right</i>
      </div>
      <div class="ey-card-list_item last">
        <a href="#">Reports and summaries</a>
        <i class="material-icons ey-card-item-content-right-icon">keyboard_arrow_right</i>
      </div>
    </div>
  </div>
</template>
