<template id="" name="employeeHistory">
  <div class="ey-employee-history card contact_card ey-card-container">
    <div class="ey-card-title">
      <div class="ey-card-title-txt">History</div>
    </div>

    <div class="ey-card-content">
      <div class="ey-employee-history__dropdown">
        <span>All</span>
        <i class="material-icons">arrow_drop_down</i>
      </div>

      <div class="ey-employee-history__list">
        <div class="ey-employee-history__item">
          <div class="ey-employee-history__item-title">Trip</div>
          <div class="ey-employee-history__item-location">Bolivia - Ecuador</div>
          <div class="ey-employee-history__item-type">Short-term</div>
        </div>
      </div>

      <div class="ey-employee-history__list">
        <div class="ey-employee-history__item">
          <div class="ey-employee-history__item-title">Assignment</div>
          <div class="ey-employee-history__item-location">UK - Bolivia</div>
          <div class="ey-employee-history__item-type">International assignment</div>
        </div>
      </div>

    </div>
    <div class="ey-card-large-footer">
        <a href="#" class=" ey-card-travel_blue-txt">View employee calendar <i class="material-icons chevron_right">chevron_right</i></a>
    </div>

  </div>

</template>
