<template id="" name="didYouKnowHeadMobility">
  <div class="card ey-card-container ey-card-did-you-know">
    <div class="ey-card-title">
      <div class="ey-card-title-txt">Did you know?</div>
    </div>
    <a class="ey-card-item-container did-you-know w-inline-block" href="#">
      <div class="ey-card-item w-clearfix">
        <div class="ey-card-item-content">
        <span class="ey-did-know-card-title">Your spend on vendors has increased by 3.4% YTD</span></div>
        <p class="ey-did-know-card-link">See how they are performing</p>
      </div>
    </a>
    <a class="ey-card-item-container did-you-know last w-inline-block" href="#">
      <div class="ey-card-item w-clearfix last">
        <div class="ey-card-item-content">
          <span class="ey-did-know-card-title">$100m has been spent on low performing assignees over the past 12 months</span></div>
          <p class="ey-did-know-card-link">Find out more</p>
      </div>
    </a>
  </div>
<!-- 3 contact -->
</template>
