<template id="" name="yourProgramHeadMobility">
  <div class="card contact_card ey-card-container your-program-hm">
    <div class="title-container">
      <div class="title-col-60 ey-card-title-txt">Your program</div>
      <div class="title-col-25 col-margin-right">{{> dropdownHeadMobilityYear}}</div>
      <div class="title-col-25">{{> dropdownHeadMobility}}</div>
    </div>

    <div class="ey-your-program-hm-list">
      <div class="ey-your-program-hm-list_item">
        <div class="ey-your-program-hm-list_item-header">Mobile employees</div>
        <div class="ey-your-program-hm-list_item-content">
          <div class="ey-your-program-hm-list_item-content-left">12,372</div>
          <div class="ey-your-program-hm-list_item-content-middle">
            <i class="material-icons">arrow_downward</i>
          </div>
          <div class="ey-your-program-hm-list_item-content-right">0.7%</div>
        </div>
      </div>
      <div class="ey-your-program-hm-list_item">
        <div class="ey-your-program-hm-list_item-header">Assignees</div>
        <div class="ey-your-program-hm-list_item-content">
          <div class="ey-your-program-hm-list_item-content-left">2,170</div>
          <div class="ey-your-program-hm-list_item-content-middle">
            <i class="material-icons">arrow_upward</i>
          </div>
          <div class="ey-your-program-hm-list_item-content-right">1.5%</div>
        </div>
      </div>
      <div class="ey-your-program-hm-list_item">
        <div class="ey-your-program-hm-list_item-header">Non-compliant</div>
        <div class="ey-your-program-hm-list_item-content">
          <div class="ey-your-program-hm-list_item-content-left">50</div>
        </div>
      </div>
      <div class="ey-your-program-hm-list_item">
        <div class="ey-your-program-hm-list_item-header">Total costs</div>
        <div class="ey-your-program-hm-list_item-content">
          <div class="ey-your-program-hm-list_item-content-left">$30.5M</div>
          <div class="ey-your-program-hm-list_item-content-middle">
            <i class="material-icons">arrow_upward</i>
          </div>
          <div class="ey-your-program-hm-list_item-content-right">3.5%</div>
        </div>
      </div>
      <div class="ey-your-program-hm-list_item">
        <div class="ey-your-program-hm-list_item-header">Satisfaction</div>
        <div class="ey-your-program-hm-list_item-content">
          <div class="ey-your-program-hm-list_item-content-left">4.4</div>
          <div class="ey-your-program-hm-list_item-content-right">/5</div>
        </div>
      </div>

    </div>

  </div>
</template>
