<template id="" name="headMobilityCosts">
  <div class="card ey-card-container head-mobility-costs">
    <div class="ey-card-title head-mobility-costs__header">
      <div class="dropdown-head-mobility ey__dropdown w-dropdown" data-delay="0">
        <div class="ey-dropdown-toggle-item">
          <span class="ey-dropdown-title">Global costs</span>
          <span class="material-icons chevron-dropdow">arrow_drop_down</span>
        </div>
      </div>

      <div class="head-mobility-costs__header-text">vs.</div>

      <div class="dropdown-head-mobility ey__dropdown w-dropdown" data-delay="0">
        <div class="ey-dropdown-toggle-item">
          <span class="ey-dropdown-title">Previous year</span>
          <span class="material-icons chevron-dropdow">arrow_drop_down</span>
        </div>
      </div>
    </div>

    <div class="head-mobility-costs_graph-container">
      <img class="head-mobility-costs_graph" src="images/HOM_dashboard3.png">
    </div>

    <div class="head-mobility-costs__legend">
      <div class="head-mobility-costs__left">
        <ul class="ey-card-tostal-coste-list">
          <li class="ey-card-tostal-coste-list_item">
            <span class="head-mobility-costs__legend-percent green">1.9%</span>
            <span class="green"><i class="material-icons head-mobility-costs__legend-arrow">arrow_upward</i></span>
            <span class="i-box one">
            </span>Tax <span class="number-coste">$6.2M</span>
          </li>
          <li class="ey-card-tostal-coste-list_item">
            <span class="head-mobility-costs__legend-percent green">1.1%</span>
            <span class="green"><i class="material-icons head-mobility-costs__legend-arrow">arrow_upward</i></span>
            <span class="i-box two">
            </span>Immigration <span class="number-coste">$3M</span>
          </li>
          <li class="ey-card-tostal-coste-list_item">
            <span class="head-mobility-costs__legend-percent orange">5.4%</span>
            <span class="orange"><i class="material-icons head-mobility-costs__legend-arrow">arrow_upward</i></span>
            <span class="i-box three"></span>Mobility team<span class="number-coste">$3.7M</span>
          </li>
          <li class="ey-card-tostal-coste-list_item">
            <span class="head-mobility-costs__legend-percent green">1.5%</span>
            <span class="green"><i class="material-icons head-mobility-costs__legend-arrow">arrow_upward</i></span>
            <span class="i-box four"></span>Stay at home <span class="number-coste">$6.3M</span>
          </li>
        </ul>
      </div>

      <div class="head-mobility-costs__right">
        <ul class="ey-card-tostal-coste-list">
          <li class="ey-card-tostal-coste-list_item">
          <span class="head-mobility-costs__legend-percent green">1.0%</span>
            <span class="green"><i class="material-icons head-mobility-costs__legend-arrow">arrow_downward</i></span>
            <span class="i-box five"></span>Assignment <span class="number-coste">$2.2M</span>
          </li>
          <li class="ey-card-tostal-coste-list_item">
          <span class="head-mobility-costs__legend-percent orange">6.2%</span>
            <span class="orange"><i class="material-icons head-mobility-costs__legend-arrow">arrow_upward</i></span>
            <span class="i-box six"></span>Vendors <span class="number-coste">$4.9M</span>
          </li>
          <li class="ey-card-tostal-coste-list_item">
          <span class="head-mobility-costs__legend-percent green last">0%</span>
            <span class="i-box seven"></span>EY<span class="number-coste">$4.1M</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
