<template id="" name="cardEmployeeProfileTeam">
  <div class="employee-profile-team card contact_card ey-card-container">
    <div class="ey-card-title">
      <div class="ey-card-title-txt">Team</div>
    </div>
    <a class="ey-card-item-container w-inline-block" href="#">
      <div class="ey-card-item ey-card-contact-item w-clearfix">
        <div class="ey-card-item-icon-left">
          <img alt="card contact avatar" height="40" src="images/ayda_shelton.jpg" width="40">
        </div>
        <i class="material-icons ey-card-item-content-right-icon">keyboard_arrow_right</i>
        <div class="ey-card-item-content"><span>Ayda Shelton<br></span>
        </div>
        <div class="ey-card-item-content ey-card-small"><span>Home Tax Adviser<br></span>
        </div>
      </div>

      <div class="ey-card-item ey-card-contact-item w-clearfix">
        <div class="ey-card-item-icon-left">
          <img alt="card contact avatar" height="40" src="images/magdalena_kaufer.jpg" width="40">
        </div>
        <i class="material-icons ey-card-item-content-right-icon">keyboard_arrow_right</i>
        <div class="ey-card-item-content"><span>Magdalena Kaufer<br></span>
        </div>
        <div class="ey-card-item-content ey-card-small"><span>Host Tax Adviser<br></span>
        </div>
      </div>

      <div class="ey-card-item last ey-card-contact-item w-clearfix">
        <div class="ey-card-item-icon-left">
          <img alt="card contact avatar" height="40" src="images/romy_mcneill.jpg" width="40">
        </div>
        <i class="material-icons ey-card-item-content-right-icon">keyboard_arrow_right</i>
        <div class="ey-card-item-content"><span>Romy McNeill<br></span>
        </div>
        <div class="ey-card-item-content ey-card-small"><span>Immigration Adviser<br></span>
        </div>
      </div>
    </a>
  </div>
</template>
