<template id="" name="resources">
  <div class="card ey-card-container ey-card-container-large ey-knowledge-resources-bloc">
      <div class="ey-card-title"><p class="ey-card-title-txt">Resources</p></div>

        <p class="ey-knowledge-resources-title ey-card-title-txt-sub">Tutorials</p>
        <ul class="ey-knowledge-resources-list">
          <li class="ey-knowledge-resources-list_item"><a class="ey-knowledge-resources-link"><span>Hypo tax</span></a></li>
          <li class="ey-knowledge-resources-list_item"><a class="ey-knowledge-resources-link"><span>Tax reconciliations</span></a></li>
          <li class="ey-knowledge-resources-list_item"><a class="ey-knowledge-resources-link"><span>Africa: Pension advice</span></a></li>
          <li class="ey-knowledge-resources-list_item"><a class="ey-knowledge-resources-link"><span>Advance assignment services</span></a></li>
        </ul>
        <a class="ey-knowledge-resources-show-more btn-transparent">Show more</a>

        <p class="ey-knowledge-resources-title training-courses ey-card-title-txt-sub">Training courses</p>
        <ul class="ey-knowledge-resources-list">
          <li class="ey-knowledge-resources-list_item"><a class="ey-knowledge-resources-link"><span>Africa: Social security</span></a></li>
          <li class="ey-knowledge-resources-list_item"><a class="ey-knowledge-resources-link"><span>High net worth visa applications</span></a></li>
          <li class="ey-knowledge-resources-list_item"><a class="ey-knowledge-resources-link"><span>Accredited immigration training</span></a></li>
          <li class="ey-knowledge-resources-list_item"><a class="ey-knowledge-resources-link"><span>Stocks and mobility</span></a></li>
        </ul>
        <a class="ey-knowledge-resources-show-more btn-transparent">Show more</a>

  </div>
</template>
