<template id="" name="travelCardServicesOn">
  <div class="travel-services-on">
    <div class="ey-card-container ey-card-container-large">
      <div class="ey-card-title ey-card-title_large">
        <div class="ey-card-title-txt">Travel services </div>
      </div>
      <div class="ey-card-travel-service_trip">
        <a class="ey-card-travel-services_trip-link w-clearfix w-inline-block" href="#"><img class="ey-card-travel-services_trip-img" height="160" src="images/travel-services-trip.png" width="160">
          <div class="ey-card-travel-services_trip-txt">Trip to Rio de Janeiro
            <br><span class="ey-card-trave-srvices_trip-txt_sub">&nbsp;</span>
          </div>
          <div class="ey-card-travel-services_trip-txt next_trip"><span class="ey-card-trave-srvices_trip-txt_sub sub-title">Upcoming<br></span>
          </div>
          <div class="ey-card-travel-services_trip-txt next_trip"><span class="ey-card-trave-srvices_trip-txt_sub destination">LHR - GIG<br></span>
          </div>
          <div class="ey-card-travel-services_trip-txt next_trip"><span class="ey-card-trave-srvices_trip-txt_sub">02/26/18 22:15<br></span>
          </div>
        </a>
      </div>
      <div class="ey-card-large-footer">
        <a href="#" class="ey-card-travel_blue-txt">Access travel services<i class="material-icons chevron_right">chevron_right</i></a>
      </div>
    </div>
  </div>
</template>
