<template id="" name="cardAssignment">
  <div class="card ey-card-container assignment ">
    <div class="ey-card-title">
      <div class="ey-card-title-txt">Assignment</div>
    </div>
    <div class="ey-card-content">
      <div class="ey-card-travel-services_sub" style="margin-bottom: 0;">Complete Your Self Assessment</div>
      <div class="ey-card-activities-block assignment w-clearfix">
        <div class="ey-card-activities-block_checkbox"><i class="material-icons">check_box_outline_blank</i></div>
        <div class="ey-card-activities-block_checkbox_txt" >
          <div class="ey-card-activities_text_1 text_2">View Assessment Objectives</div>
        </div>
      </div>
      <div class="ey-card-activities-block assignment last w-clearfix">
        <div class="ey-card-activities-block_checkbox"><i class="material-icons">check_box</i></div>
        <div class="ey-card-activities-block_checkbox_txt">
          <div class="ey-card-activities_text_1 text_2">Contact Natasha D'Souza</div>
        </div>
      </div>

    </div>
    <div class="ey-card-large-footer">
      <a href="#" class="ey-card-travel_blue-txt">View Assignment History <i class="material-icons chevron_right">chevron_right</i></a>
    </div>
  </div>

</template>
