<template id="" name="relocationTextOnly">
  <div class="card ey-card-container ey-card-container-large">
    <div class="ey-card-title ey-card-title_large">
      <div class="ey-card-title-txt">Relocation services</div>
    </div>
    <div class="ey-card-content">
        <p class="ey-card-travel_grey-txt">Based on your expected assignment end date, we have initiated your return shipment assessment. <a href="#" class="ey-risks-card-link no-link-style-blue">Access relocation services</a> to book your appointment.</p>
        <p class="ey-card-travel_grey-txt">If you would like more information on the shipping process, please contact your <a href="#" class="ey-risks-card-link no-link-style-blue">Home Mobility Manager</a></p>
    </div>

    <div class="ey-card-large-footer">
        <a href="#" class="ey-card-travel_blue-txt">Access relocation services <i class="material-icons chevron_right">chevron_right</i></a>
    </div>

  </div>
</template>
