<template id="" name="yourProgramMobilityManager">
  <div class="card contact_card ey-card-container your-program-mobility-manager-container">
    <div class="title-container">
        <div class="title-col-50 ey-card-title-txt">  Your program</div>
        <div class="title-col-25 col-margin-right">
          <div class="w-dropdown">
            <div class="dropdown_container">
                {{#dropdownTrigger name="emea"}}
                <button class="dropdown-btn select">EMEA<i class="dropdown-icon material-icons">arrow_drop_down</i></button>
                {{/dropdownTrigger}}
                {{#dropdown name="emea" classes="dropdown--menu" align="left"}}
                <ul class="dropdown__menu dropdown-list">
                  <li >Global</li>
                  <li >APAC</li>
                  <li >Americas</li>
                </ul>
                {{/dropdown}}
            </div><!--/.dropdown_container -->
          </div>
        </div>

        <div class="title-col-25">
          <div class="w-dropdown">
            <div class="dropdown_container">
              {{#dropdownTrigger name="FY17_1"}}
              <button class="dropdown-btn select">FY17<i class="dropdown-icon material-icons">arrow_drop_down</i></button>
              {{/dropdownTrigger}}
              {{#dropdown name="FY17_1" classes="dropdown--menu" align="left"}}
              <ul class="dropdown__menu dropdown-list">
                <li >FY16</li>
                <li >FY15</li>
              </ul>
              {{/dropdown}}
            </div><!--/.dropdown_container -->
          </div>
        </div>
    <div>
  </div>
</div>

    <div class="ey-your-program-hm-list">
      <div class="ey-your-program-hm-list_item">
        <div class="ey-your-program-hm-list_item-header">Mobile employees</div>
        <div class="ey-your-program-hm-list_item-content">
          <div class="ey-your-program-hm-list_item-content-left">3,093</div>
          <div class="ey-your-program-hm-list_item-content-middle">
            <i class="material-icons">arrow_downward</i>
          </div>
          <div class="ey-your-program-hm-list_item-content-right">1.3%</div>
        </div>
      </div>
      <div class="ey-your-program-hm-list_item">
        <div class="ey-your-program-hm-list_item-header">Assignees</div>
        <div class="ey-your-program-hm-list_item-content">
          <div class="ey-your-program-hm-list_item-content-left">543</div>
          <div class="ey-your-program-hm-list_item-content-middle">
            <i class="material-icons">arrow_upward</i>
          </div>
          <div class="ey-your-program-hm-list_item-content-right">0.9%</div>
        </div>
      </div>
      <div class="ey-your-program-hm-list_item">
        <div class="ey-your-program-hm-list_item-header">Non-compliant</div>
        <div class="ey-your-program-hm-list_item-content">
          <div class="ey-your-program-hm-list_item-content-left">5</div>
        </div>
      </div>
      <div class="ey-your-program-hm-list_item">
        <div class="ey-your-program-hm-list_item-header">Total costs</div>
        <div class="ey-your-program-hm-list_item-content">
          <div class="ey-your-program-hm-list_item-content-left">$8.6M</div>
          <div class="ey-your-program-hm-list_item-content-middle">
            <i class="material-icons">arrow_upward</i>
          </div>
          <div class="ey-your-program-hm-list_item-content-right">3.5%</div>
        </div>
      </div>
      <div class="ey-your-program-hm-list_item">
        <div class="ey-your-program-hm-list_item-header">Satisfaction</div>
        <div class="ey-your-program-hm-list_item-content">
          <div class="ey-your-program-hm-list_item-content-left">4.6</div>
          <div class="ey-your-program-hm-list_item-content-right">/5</div>
        </div>
      </div>

    </div>

  </div>
</template>
