<template id="" name="pendingActivitiesList">
  <div class="card contact_card ey-card-container upcoming">
    <div class="ey-card-title">
      <div class="ey-card-title-txt">Upcoming</div>
    </div>
    <a class="ey-card-item-container w-inline-block" href="#">
      <div class="ey-card-item pending-activities-card w-clearfix">
        <div class="ey-card-item-content"><span>Greece tax deadline</span></div>
        <div class="ey-card-item-content ey-card-small"><span>7 February 2017</span>
        <i class="material-icons righ-icon pending-activities-card">chevron_right</i>
      </div>
      </div>
    </a>
    <a class="ey-card-item-container w-inline-block" href="#">
      <div class="ey-card-item pending-activities-card w-clearfix">
        <div class="ey-card-item-content"><span>Germany tax deadline</span></div>
        <div class="ey-card-item-content ey-card-small"><span>28 February 2017</span>
        <i class="material-icons righ-icon pending-activities-card">chevron_right</i>
      </div>
      </div>
    </a>
    <a class="ey-card-item-container w-inline-block" href="#">
      <div class="ey-card-item pending-activities-card last w-clearfix">
        <div class="ey-card-item-content"><span>US tax code update</span></div>
        <div class="ey-card-item-content ey-card-small"><span>1 April 2017</span>
        <i class="material-icons righ-icon pending-activities-card">chevron_right</i>
      </div>
      </div>
    </a>
  </div>
<!-- 3 contact -->
</template>
