<template id="" name="immigrationEmployee">
  <div class="card contact_card ey-card-container state-compliance map-card-list">
    <div class="ey-card-title">
      <div class="ey-card-title-txt">
        Employees
      </div>
    </div>
    <div class="head-mobility-vendor__content">
      <div class="head-mobility-vendor__table-row head-mobility-vendor__table-header">
        <div class="head-mobility-vendor__table-col-medium">Name</div>
        <div class="head-mobility-vendor__table-col-medium">Home</div>
        <div class="head-mobility-vendor__table-col-medium">Destination</div>
        <div class="head-mobility-vendor__table-col-medium">Citizenship(s)</div>
        <div class="head-mobility-vendor__table-col-small">Cost</div>
        <div class="head-mobility-vendor__table-col-small">Status</div>
        <div class="head-mobility-vendor__table-col-small centered">Action</div>
      </div>

      <div class="head-mobility-vendor__table-row head-mobility-vendor__table-body">
        <div class="head-mobility-vendor__table-col-medium head-mobility-vendor__table-cell-text">Mabelle Hawkins</div>
        <div class="head-mobility-vendor__table-col-medium head-mobility-vendor__table-cell-text employee-country">GER <img class="flag-table-right" src="images/Germany.png"></div>
        <div class="head-mobility-vendor__table-col-medium head-mobility-vendor__table-cell-text employee-country">UK <img class="flag-table-right" src="images/flag/United-Kingdom.png"> </div>
        <div class="head-mobility-vendor__table-col-medium head-mobility-vendor__table-cell-text employee-country">GER <img class="flag-table-right" src="images/Germany.png"></div>
        <div class="head-mobility-vendor__table-col-small head-mobility-vendor__table-cell-text">$5,400</div>
        <div class="head-mobility-vendor__table-col-small head-mobility-vendor__table-cell-text">Business visa required</div>
        <div class="head-mobility-vendor__table-col-small head-mobility-vendor__table-cell-text centered"><a href="#" class="no-link-style-blue">View</a></div>
      </div>

      <div class="head-mobility-vendor__table-row head-mobility-vendor__table-body single-line">
        <div class="head-mobility-vendor__table-col-medium head-mobility-vendor__table-cell-text">Moussa Dembele</div>
        <div class="head-mobility-vendor__table-col-medium head-mobility-vendor__table-cell-text employee-country">BEL <img class="flag-table-right" src="images/flag/Belgium.png"></div>
        <div class="head-mobility-vendor__table-col-medium head-mobility-vendor__table-cell-text employee-country">UK <img class="flag-table-right" src="images/flag/United-Kingdom.png"> </div>
        <div class="head-mobility-vendor__table-col-medium head-mobility-vendor__table-cell-text employee-country">BEL <img class="flag-table-right" src="images/flag/Belgium.png"></div>
        <div class="head-mobility-vendor__table-col-small head-mobility-vendor__table-cell-text">$1,600</div>
        <div class="head-mobility-vendor__table-col-small head-mobility-vendor__table-cell-text">Nearing expiry</div>
        <div class="head-mobility-vendor__table-col-small head-mobility-vendor__table-cell-text centered"><a href="#" class="no-link-style-blue">View</a></div>
      </div>

      <div class="head-mobility-vendor__table-row head-mobility-vendor__table-body single-line">
        <div class="head-mobility-vendor__table-col-medium head-mobility-vendor__table-cell-text">Mesut Ozil</div>
        <div class="head-mobility-vendor__table-col-medium head-mobility-vendor__table-cell-text employee-country">GER <img class="flag-table-right" src="images/Germany.png"></div>
        <div class="head-mobility-vendor__table-col-medium head-mobility-vendor__table-cell-text employee-country">USA <img class="flag-table-right" src="images/flag/United-States.png"> </div>
        <div class="head-mobility-vendor__table-col-medium head-mobility-vendor__table-cell-text employee-country">GER <img class="flag-table-right" src="images/Germany.png"></div>
        <div class="head-mobility-vendor__table-col-small head-mobility-vendor__table-cell-text">$2,500</div>
        <div class="head-mobility-vendor__table-col-small head-mobility-vendor__table-cell-text">Nearing expiry</div>
        <div class="head-mobility-vendor__table-col-small head-mobility-vendor__table-cell-text centered"><a href="#" class="no-link-style-blue">View</a></div>
      </div>

      <div class="head-mobility-vendor__table-row head-mobility-vendor__table-body double-line">
        <div class="head-mobility-vendor__table-col-medium head-mobility-vendor__table-cell-text">Sunita Patel</div>
        <div class="head-mobility-vendor__table-col-medium head-mobility-vendor__table-cell-text employee-country">IND <img class="flag-table-right" src="images/flag/India.png"></div>
        <div class="head-mobility-vendor__table-col-medium head-mobility-vendor__table-cell-text employee-country">
          USA <img class="flag-table-right" src="images/flag/United-States.png">
         </div>
        <div class="head-mobility-vendor__table-col-medium head-mobility-vendor__table-cell-text">
          <div class="doble-flag">IND <img class="flag-table-right" src="images/flag/India.png"></div>
          <div class="doble-flag">UK <img class="flag-table-right" src="images/flag/United-Kingdom.png"></div>
        </div>
        <div class="head-mobility-vendor__table-col-small head-mobility-vendor__table-cell-text">$8,200</div>
        <div class="head-mobility-vendor__table-col-small head-mobility-vendor__table-cell-text">Support letter required</div>
        <div class="head-mobility-vendor__table-col-small head-mobility-vendor__table-cell-text centered"><a href="#" class="no-link-style-blue">View</a></div>
      </div>

      <div class="head-mobility-vendor__table-row head-mobility-vendor__table-body">
        <div class="head-mobility-vendor__table-col-medium head-mobility-vendor__table-cell-text">William Gonsalvez</div>
        <div class="head-mobility-vendor__table-col-medium head-mobility-vendor__table-cell-text employee-country">POR <img class="flag-table-right" src="images/flag/Portugal.png"></div>
        <div class="head-mobility-vendor__table-col-medium head-mobility-vendor__table-cell-text employee-country">FRA <img class="flag-table-right" src="images/flag/France.png"> </div>
        <div class="head-mobility-vendor__table-col-medium head-mobility-vendor__table-cell-text employee-country">POR <img class="flag-table-right" src="images/flag/Portugal.png"></div>
        <div class="head-mobility-vendor__table-col-small head-mobility-vendor__table-cell-text">$3,900</div>
        <div class="head-mobility-vendor__table-col-small head-mobility-vendor__table-cell-text">Business visa required</div>
        <div class="head-mobility-vendor__table-col-small head-mobility-vendor__table-cell-text centered"><a href="#" class="no-link-style-blue">View</a></div>
      </div>

      <div class="head-mobility-vendor__table-row head-mobility-vendor__table-body last-line">
        <div class="head-mobility-vendor__table-col-medium head-mobility-vendor__table-cell-text">Momo Gutierrez</div>
        <div class="head-mobility-vendor__table-col-medium head-mobility-vendor__table-cell-text employee-country">SPA <img class="flag-table-right" src="images/flag/Spain.png"></div>
        <div class="head-mobility-vendor__table-col-medium head-mobility-vendor__table-cell-text employee-country">USA <img class="flag-table-right" src="images/flag/United-States.png"> </div>
        <div class="head-mobility-vendor__table-col-medium head-mobility-vendor__table-cell-text employee-country">SPA <img class="flag-table-right" src="images/flag/Spain.png"></div>
        <div class="head-mobility-vendor__table-col-small head-mobility-vendor__table-cell-text">$8,100</div>
        <div class="head-mobility-vendor__table-col-small head-mobility-vendor__table-cell-text">Support letter required</div>
        <div class="head-mobility-vendor__table-col-small head-mobility-vendor__table-cell-text centered"><a href="#" class="no-link-style-blue">View</a></div>
      </div>

      <div class="modal-mobility-dashboard-footer-action immigration">
        <div class="tax-payment-modal-footer">
          <a href="#">View all employees<i class="material-icons righ-icon">chevron_right</i></a>
        </div>
      </div>

    </div>
  </div>
</template>
