<template id="" name="calendarCard1">
  <div class="card ey-card-container ey-card-container-large">
    <div class="ey-card-title ey-card-title_large">
      <div class="ey-card-title-txt">Calendar</div>
    </div>
    <div class="ey-card-content">
      <a class="ey-card-travel-card_1 w-inline-block" href="#">
        <p class="ey-card-travel_grey-txt" style="margin-bottom: 0px;">Your location and calendar data has been downloaded for the month of November</p>
        <p class="ey-card-travel_grey-txt" style="margin-top: 10px;"><a href="#" class="tax-organizer-list_item-link" style="text-decoration:none;">Please confirm the working days for your calendar</a>, so that your records are kept up to date</p>
      </a>
    </div>
    <div class="ey-card-large-footer">
        <a href="#" class=" ey-card-travel_blue-txt">View calendar <i class="material-icons chevron_right">chevron_right</i></a>
    </div>
  </div>
</template>
