<template id="" name="travelServices">
  <div class="travel-services card ey-card-container ey-card-container-large">
    <div class="ey-card-title ey-card-title_large">
      <div class="ey-card-title-txt">Travel services</div>
    </div>
    <div class="ey-card-content">
	    <div class="ey-card-travel-services_sub">Access travel services to book your trip</div>
	    <div class="travel-s__sub-txt w-clearfix">
	    	<span class="material-icons trav-icon">hotel</span> Book accommodation
	    	<i class="material-icons icon-right">chevron_right</i>
	    </div>
	    <div class="travel-s__sub-txt w-clearfix">
	    	<span class="material-icons trav-icon">flight_takeoff</span> Book flights
	    	<i class="material-icons icon-right">chevron_right</i>
	    </div>
	    <div class="travel-s__sub-txt w-clearfix">
	    	<span class="material-icons trav-icon">chrome_reader_mode</span> View travel safety guidance for Brazil
	    	<i class="material-icons icon-right">chevron_right</i>
	    </div>
	  </div>
	</div>
</template>
