<template name="communicationLog">

	<div class="communication-log card ey-card-container ey-card-container-large">
	    <div class="ey-card-title ey-card-title_large">
	      <div class="ey-card-title-txt">Communication log</div>
	      <div class="communication-log__search">
	      		<div class="communication-log__search-text">Search</div>
	      		<i class="material-icons">search</i>
	      	</div>
	    </div>
	    <div class="ey-card-content">
	      <img src="images/timeline@2x.png" width="408px">
	    </div>

	    <a class="ey-knowledge-resources-show-more btn-transparent">Show more</a>

<!-- 	    <div class="ey-card-large-footer">
	        <a href="#" class="ey-card-travel_blue-txt">See More</a>
	    </div> -->

    </div>

</template>
