<template id="" name="dataAggregation">
  <div class="card ey-card-container ey-card-container-large">
    <div class="ey-card-title ey-card-title_large">
      <div class="ey-card-title-txt">Data aggregation Q3 FY17</div>
    </div>
    <div class="ey-card-data-aggregation">
      <div class="head-mobility-vendor__content">
        <div class="head-mobility-vendor__table-row head-mobility-vendor__table-header">
          <div class="head-mobility-vendor__table-col-small">Source</div>
          <div class="head-mobility-vendor__table-col-small centered">Collection status</div>
          <div class="head-mobility-vendor__table-col-small centered">Review status</div>
          <div class="head-mobility-vendor__table-col-small centered">Action</div>
        </div>

        <div class="head-mobility-vendor__table-row head-mobility-vendor__table-body">
          <div class="head-mobility-vendor__table-col-small head-mobility-vendor__table-cell-text">Home payroll</div>
          <div class="head-mobility-vendor__table-col-small centered head-mobility-vendor__table-cell-text"><i class="material-icons green-dot">fiber_manual_record</i></div>
          <div class="head-mobility-vendor__table-col-small centered head-mobility-vendor__table-cell-text"><i class="material-icons green-dot">fiber_manual_record</i></div>
          <div class="head-mobility-vendor__table-col-small centered head-mobility-vendor__table-cell-text"><a href="#" class="no-link-style-blue">View</a></div>
        </div>

        <div class="head-mobility-vendor__table-row head-mobility-vendor__table-body">
          <div class="head-mobility-vendor__table-col-small head-mobility-vendor__table-cell-text">Host payroll</div>
          <div class="head-mobility-vendor__table-col-small centered head-mobility-vendor__table-cell-text"><i class="material-icons amber-dot">fiber_manual_record</i></div>
          <div class="head-mobility-vendor__table-col-small centered head-mobility-vendor__table-cell-text"><i class="material-icons green-dot">fiber_manual_record</i></div>
          <div class="head-mobility-vendor__table-col-small centered head-mobility-vendor__table-cell-text"><a href="#" class="no-link-style-blue">View</a></div>
        </div>

        <div class="head-mobility-vendor__table-row head-mobility-vendor__table-body">
          <div class="head-mobility-vendor__table-col-small head-mobility-vendor__table-cell-text">Accounts payable</div>
          <div class="head-mobility-vendor__table-col-small centered head-mobility-vendor__table-cell-text"><i class="material-icons red-dot">fiber_manual_record</i></div>
          <div class="head-mobility-vendor__table-col-small centered head-mobility-vendor__table-cell-text"><i class="material-icons amber-dot">fiber_manual_record</i></div>
          <div class="head-mobility-vendor__table-col-small centered head-mobility-vendor__table-cell-text"><a href="#" class="no-link-style-blue">View</a></div>
        </div>

        <div class="head-mobility-vendor__table-row head-mobility-vendor__table-body">
          <div class="head-mobility-vendor__table-col-small head-mobility-vendor__table-cell-text">Vendor 1</div>
          <div class="head-mobility-vendor__table-col-small centered head-mobility-vendor__table-cell-text"><i class="material-icons red-dot">fiber_manual_record</i></div>
          <div class="head-mobility-vendor__table-col-small centered head-mobility-vendor__table-cell-text"><i class="material-icons green-dot">fiber_manual_record</i></div>
          <div class="head-mobility-vendor__table-col-small centered head-mobility-vendor__table-cell-text"><a href="#" class="no-link-style-blue">View</a></div>
        </div>

        <div class="head-mobility-vendor__table-row head-mobility-vendor__table-body">
          <div class="head-mobility-vendor__table-col-small head-mobility-vendor__table-cell-text">Vendor 2</div>
          <div class="head-mobility-vendor__table-col-small centered head-mobility-vendor__table-cell-text"><i class="material-icons green-dot">fiber_manual_record</i></div>
          <div class="head-mobility-vendor__table-col-small centered head-mobility-vendor__table-cell-text"><i class="material-icons amber-dot">fiber_manual_record</i></div>
          <div class="head-mobility-vendor__table-col-small centered head-mobility-vendor__table-cell-text"><a href="#" class="no-link-style-blue">View</a></div>
        </div>

        <div class="head-mobility-vendor__table-row head-mobility-vendor__table-body">
          <div class="head-mobility-vendor__table-col-small head-mobility-vendor__table-cell-text">Benefits</div>
          <div class="head-mobility-vendor__table-col-small centered head-mobility-vendor__table-cell-text"><i class="material-icons amber-dot">fiber_manual_record</i></div>
          <div class="head-mobility-vendor__table-col-small centered head-mobility-vendor__table-cell-text"><i class="material-icons red-dot">fiber_manual_record</i></div>
          <div class="head-mobility-vendor__table-col-small centered head-mobility-vendor__table-cell-text"><a href="#" class="no-link-style-blue">View</a></div>
        </div>

      </div>
    </div>
    <div class="ey-card-large-footer">
      <a href="#" class="ey-card-travel_blue-txt">View more<i class="material-icons chevron_right">chevron_right</i></a>
    </div>
  </div>
</template>
