<template id="" name="travelRisk">
  <div class="card ey-card-container ey-card-container-large">
    <div class="title-container">
      <span class="title-col-100 ey-card-title-txt">Travel risk</span>
    </div>

    <div class="ey-card-content">
      <a class="ey-card-travel-card_1 w-inline-block" href="#">
        <p class="ey-card-txt_color-dark update-txt">You are not yet ready to travel to Brazil</p>
        <p class="ey-card-txt_color-dark update-txt update-txt-red hidden">You are not yet ready to travel to Brazil</p>
        <p class="ey-card-travel_grey-txt"><i class="material-icons green-color">check_circle</i>Your pre-travel assessment has been completed</p>
        <p class="ey-card-travel_grey-txt hide-travel-risk"><i class="material-icons red-color">warning</i>You require a work permit for your upcoming trip to Brazil<br/><span style="padding-left:44px;">on 20 January 2017</span></p>

      </a>
    </div>

    <div class="ey-card-large-footer">
        <a href="#" class="ey-card-travel_blue-txt">View travel history <i class="material-icons chevron_right">chevron_right</i></a>
    </div>

  </div>
</template>
