<template id="" name="travelAssessement">
<div class="travel-assessement">
  <div class="ey-card-container ey-card-container-large">
    <div class="ey-card-title ey-card-title_large">
      <div class="ey-card-title-txt">Travel watch</div>
    </div>
    <div class="ey-card-content">
      <div class="ey-card-content-link">You are nearing your compliance thresholds for Argentina</div>
      <div class="ey-card-travel-bar-header">Tax</div>
      <div class="ey-card-travel-bar-container w-clearfix">

        <div class="ey-card-travel-bar-days-number">180</div>
        <div class="ey-card-travel-bar-total-days">183</div>
        <div class="ey-card-travel-icon-right"></div>
        <div class="ey-card-travel-bar">
        <div class="ey-card-travel-bar-label">Days</div>
          <div class="ey-card-travel-bar-tax">
            <div class="ey-card-travel-bar-vat-yellow"></div>
            <div class="ey-card-travel-bar-vat-orange"></div>
            <div class="ey-card-travel-bar-vat-red"></div>
          </div>
        </div>
      </div>
      <div class="ey-card-title-time top-label travel-assessment">Total time spent in Argentina is 180 days</div>
      <div class="ey-card-title-time travel-assessment">You have 3 days left until you are liable to pay tax in Argentina</div>
      <div class="ey-card-travel-bar-header">Visa</div>
      <div class="ey-card-travel-bar-container w-clearfix">
        <div class="ey-card-travel-bar-days-number vat">35</div>
        <div class="ey-card-travel-bar-total-days">90</div>
        <div class="ey-card-travel-bar">
        <div class="ey-card-travel-bar-label">Days</div>
          <div class="ey-card-travel-bar-vat">

          </div>
        </div>
        <div class="ey-card-travel-icon-right_second"></div>
        <div class="ey-card-travel-icon-right"></div>
      </div>
      <div class="ey-card-title-time top-label travel-assessment">Time spent in Argentina is 35 days</div>
      <div class="ey-card-title-time travel-assessment"><p>You have 55 days left until your visa expires</p><p>If you would like to discuss any aspect of your compliance, please<a href="#" class="tax-organizer-list_item-link" style="text-decoration:none;"> contact Natasha D'Souza</a></p></div>

    </div>

    <div class="ey-card-large-footer ey-card-travel-title second_txt travel-services">View compliance thresholds</div>
      <div class="ey-card-travel-services_chevron-right w-embed"><i class="material-icons">chevron_right</i>
      </div>
  </div>

</div>
</template>
