<template id="" name="riskList">
  <div class="card ey-card-container ey-card-did-you-know">
    <div class="ey-card-title risk-card-title">
      <div class="ey-card-title-txt">Risks</div>
    </div>
    <a class="ey-card-item-container ey-risk-card w-inline-block " href="#">
      <div class="ey-card-item w-clearfix">
        <div>
          <div class="ey-card-item-content risk-item-warning-text">
            <i class="material-icons warning risk-item">warning</i>
            <span class="ey-did-know-card-title">
              US State Department announces new immigration controls.
              <span class="ey-risks-card-link">You have 20 employees at high risk of travel restrictions</span>
            </span>
          </div>
          <div class="ey-did-know-card-link risk-item-warning-action">See more</div>
        </div>
      </div>
    </a>
    <a class="ey-card-item-container ey-risk-card w-inline-block " href="#">
      <div class="ey-card-item w-clearfix">
        <div>
          <div class="ey-card-item-content risk-item-warning-text">
            <i class="material-icons warning risk-item">warning</i>
            <span class="ey-did-know-card-title">
              You have
              <span class="ey-risks-card-link">50 employees in Saudi Arabia</span>
              who have not submitted their FY17 tax returns (due on 31 March 2017) and may be at risk of tax non-compliance
            </span>
          </div>
          <div class="ey-did-know-card-link risk-item-warning-action">See more</div>
        </div>
      </div>
    </a>
    <a class="ey-card-item-container ey-risk-card w-inline-block " href="#">
      <div class="ey-card-item last w-clearfix">
        <div>
          <div class="ey-card-item-content risk-item-warning-text">
            <i class="material-icons warning risk-item">warning</i>
            <span class="ey-risks-card-title "><span class="ey-risks-card-link">5 VIP assignees</span> have work permits nearing expiry</span>
          </div>
        </div>
        <div class="ey-did-know-card-link risk-item-warning-action">See more</div>
      </div>
    </a>

    <div class="ey-card-large-footer risk-footer">
      <a href="#" class="ey-card-travel_blue-txt">View all risks <i
          class="material-icons chevron_right">chevron_right</i></a>
    </div>
  </div>
</template>
