<template id="" name="businessTravelerCost">
  <div class="card travel-summary tax-map-container">
    <div class="tax-map-left">
      <img class="tax-map-img" src="images/map-irak.png">
    </div>
    <div class="tax-map-right">
      {{> dropdownBusinessTraveler}}
      <div class="travel-summary__global-cost-title">
        Cost - Iraq
      </div>
      <div class="travel-summary__global-cost">
        <div class="travel-summary__global-cost-value">
          $1.4m
        </div>
        <div class="travel-summary__global-cost-icon">
          <i class="material-icons i-down-arrow">arrow_downward</i>
        </div>
        <div class="travel-summary__global-cost-percent">
          5.3%
        </div>
      </div>

      <div class="travel-summary__details">
        <div>400,000 USD compensation</div>
        <div>300,000 USD cost of living</div>
        <div>400,000 USD traveling relocation</div>
        <div>300,000 USD immigration</div>
      </div>
    </div>
  </div>
</template>
