<template id="" name="emergencyInfoCard">
  <div class="card ey-card-container ey-card-container-large">
    <div class="ey-card-title ey-card-title_large">
      <div class="ey-card-title-txt">Emergency information</div>
    </div>
    <div class="ey-card-content">
      <a class="ey-card-travel-card_1 w-inline-block" href="#">
        <p class="ey-card-travel_grey-txt">For your upcoming trip to Brazil, please see below for your in-country assistance details:</p>
        <p class="ey-emergency-card-office"> RIO DE JANEIRO OFFICE </p>
        <p class="ey-card-travel_grey-txt">
          Avenida Atlantica 1896, <br/>
          Rio de Janeiro, <br/>
          State of Rio de Janeiro 22021-001 <br/>
          Tel: +55-21-3550-5817 <br/>
        </p>
      </a>
    </div>
    <div class="ey-card-large-footer">
        <a href="#" class="ey-card-travel_blue-txt">View emergency contacts<i class="material-icons chevron_right">chevron_right</i></a>
    </div>
  </div>
</template>
