<template id="" name="taxSimple">
  <div class="card ey-card-container tax-simple">
    <div class="ey-card-title">
      <div class="ey-card-title-txt">Tax</div>
    </div>

    <div class="ey-card-content">
      <div class="ey-card-travel-services_sub" style="margin-bottom: 0;">Tax estimate</div>
      <p class="ey-card-tax-simple-sublink">Your tax liability has been estimated as £2,400</p>
      <p class="ey-card-tax-simple-date" >Due on 12/05/19</p>
    </div>


    <div class="ey-card-large-footer">
      <a href="#" class="ey-card-travel_blue-txt">View tax organiser <i class="material-icons chevron_right">chevron_right</i></a>
    </div>

  </div>
</template>
