<template id="" name="cardPendingActivitiesCheck">
  <div class="card ey-card-container pending-before">
    <div class="ey-card-title">
      <div class="ey-card-title-txt">Pending Activities</div>
    </div>
    <div class="ey-card-activities-block w-clearfix">
      <div class="ey-card-activities-block_checkbox"><i class="material-icons">check_box</i></div>
      <div class="ey-card-activities-block_checkbox_txt" >
        <div class="ey-card-activities_text_1 text_2">Complete Self Assessment</div>
        <div class="ey-card-activities_text_1 second_text">Due in 8 days</div>
        <a class="ey-card-activities_text_link" href="#">Check Status</a>
      </div>
    </div>
    <div class="ey-card-activities-block last w-clearfix">
      <div class="ey-card-activities-block_checkbox"><i class="material-icons">check_box</i></div>
      <div class="ey-card-activities-block_checkbox_txt">
        <div class="ey-card-activities_text_1 text_2">Contact Natasha D'Souza</div>
        <div class="ey-card-activities_text_1 second_text">Provided from HRG 1 week ago</div>
        <a class="ey-card-activities_text_link" href="#">Validate</a>
      </div>
    </div>

  </div>

</template>
