<template id="" name="compensationCard">
  <div class="card ey-card-container ey-card-container-large">
    <div class="ey-card-title ey-card-title_large">
      <div class="ey-card-title-txt">Compensation</div>
    </div>
    <div class="ey-card-content">
      <p class="ey-card-travel_grey-txt">Your monthly wage statement from your home country is ready to view</p>
    </div>

    <div class="ey-card-large-footer">
        <a href="#" class="ey-card-travel_blue-txt">View all compensation <i class="material-icons chevron_right">chevron_right</i></a>
    </div>

  </div>
</template>
