<template id="" name="relocationServices">
  <div class="card ey-card-container ey-card-container-large">
    <div class="ey-card-title ey-card-title_large">
      <div class="ey-card-title-txt">Relocation Services <span class="ey-card-title-txt small-txt">Powered by Company</span></div>
    </div>
    <div class="ey-card-content">
	    <div class="ey-card-travel-services_sub">You have outstanding travel actions</div>
	    <div class="travel-s__sub-txt w-clearfix"><span class="material-icons trav-icon ">hotel</span> Set Up Housing in Home Country <i class="material-icons chevron_right material-icons right travel-s__sub-icon">chevron_right</i></div>
	    <div class="travel-s__sub-txt w-clearfix"><span class="material-icons trav-icon ">flight_takeoff</span> Organise Shipping <i class="material-icons chevron_right right travel-s__sub-icon">chevron_right</i></div>
	    <!-- <div class="travel-s__sub-txt w-clearfix"><span class="material-icons trav-icon"></span><span class="material-icons trav-icon">chrome_reader_mode</span> View Travel Safety Guidance for Brazil</div> -->
	  </div>
	</div>
</template>
