<template name="cardEmployeeStatusOnAssignment">
  <div class="card ey-employee-status-card w-clearfix">
    <div class="ey-employee-status-card__main-container--itens">
      <div class="ey-employee-status-card-left-col">
        <img class="ey-employee-status-card-image" height="100" src="images/employee-photo2x.png" width="100">
        <a href="#" class="ey-employee-status-card-link">View profile</a>
      </div>
      <div class="ey-employee-status-card-middle-col">
        <div class="w-row ey-employee-status-card--row">
          <div class="left-col">
            <ul class="ey-employee-status-card--list">
              <li>
                <span class="ey-employee-status-card-icon w-embed"><i class="material-icons ey-employee-status-card-icon">person</i></span>
                <div class="ey-employee-status-card--list-cont">
                  <p class="ey-employee-status-card-label">Employee</p>
                  <p class="ey-employee-status-card-text">Lisa Wiltz</p>
                </div>
              </li>
              <li>
                <span class="ey-employee-status-card-icon w-embed"><i class="material-icons ey-employee-status-card-icon">business_center</i></span>
                <div class="ey-employee-status-card--list-cont">
                  <p class="ey-employee-status-card-label">Employee role</p>
                  <p class="ey-employee-status-card-text">Product Manager</p>
                </div>
              </li>
              <li>
                <span class="ey-employee-status-card-icon w-embed"><i class="material-icons ey-employee-status-card-icon">public</i></span>
                <div class="ey-employee-status-card--list-cont">
                  <p class="ey-employee-status-card-label">Nationality</p>
                  <p class="ey-employee-status-card-text">United Kingdom</p>
                </div>
              </li>
            </ul>
          </div><!-- /left-col-->
          <div class="right-col">
            <ul class="ey-employee-status-card--list">
               <li>
                <span class="ey-employee-status-card-icon w-embed"><i class="material-icons ey-employee-status-card-icon">pin_drop</i>
                </span>
                <div class="ey-employee-status-card--list-cont">
                  <p class="ey-employee-status-card-label">Assignment location</p>
                  <p class="ey-employee-status-card-text">Brazil</p>
                </div>
                </li>
              <li>
                <span class="ey-employee-status-card-icon w-embed"><i class="material-icons ey-employee-status-card-icon">airplanemode_active</i>
                </span>
                <div class="ey-employee-status-card--list-cont">
                  <p class="ey-employee-status-card-label">Active trips</p>
                  <p class="ey-employee-status-card-text">1</p>
                </div>
              </li>
               <li>
                <span class="ey-employee-status-card-icon w-embed"><i class="material-icons ey-employee-status-card-icon">account_balance</i></span>
                <div class="ey-employee-status-card--list-cont">
                  <p class="ey-employee-status-card-label">Tax filing locations</p>
                  <p class="ey-employee-status-card-text">UK, Brazil</p>
                </div>
              </li>
            </ul>
          </div><!-- -->
        </div>
      </div>

    </div><!-- /.ey-employee-status-card__main-container-itens -->


  </div>

</template>
