<template id="" name="sharePlans">
  <div class="card ey-card-container ey-card-container-large">
    <div class="ey-card-title ey-card-title_large">
      <div class="ey-card-title-txt">Share plans</div>
    </div>
    <div class="ey-card-content">
      <p class="ey-card-travel_grey-txt">Your annual equity plan statement for 2018 is ready to view</p>
    </div>

    <div class="ey-card-large-footer">
        <a href="#" class="ey-card-travel_blue-txt">View share portal <i class="material-icons chevron_right">chevron_right</i></a>
    </div>

  </div>
</template>
