<template id="" name="assigneeStatus">
  <div class="card contact_card ey-card-container state-compliance">
    <div class="ey-card-title">
      <div class="ey-card-title-txt">
        Employee status
      </div>
    </div>
    <div class="head-mobility-vendor__content">
      <div class="head-mobility-vendor__table-row head-mobility-vendor__table-header">
        <div class="head-mobility-vendor__table-col-medium">Name</div>
        <div class="head-mobility-vendor__table-col-small">Home</div>
        <div class="head-mobility-vendor__table-col-small">Destination</div>
        <div class="head-mobility-vendor__table-col-small">Tax year</div>
        <div class="head-mobility-vendor__table-col-small">Trip cost</div>
        <div class="head-mobility-vendor__table-col-x-small">Risk</div>
        <div class="head-mobility-vendor__table-col-medium centered">Days until red</div>
        <div class="head-mobility-vendor__table-col-small centered">Action</div>
      </div>

      <div class="head-mobility-vendor__table-row head-mobility-vendor__table-body">
        <div class="head-mobility-vendor__table-col-medium head-mobility-vendor__table-cell-text">Felipe Costa</div>
        <div class="head-mobility-vendor__table-col-small head-mobility-vendor__table-cell-text">UK &nbsp;&nbsp;<img
            src="images/United-Kingdom.png"></div>
        <div class="head-mobility-vendor__table-col-small head-mobility-vendor__table-cell-text">BOL <img
            src="images/Bolivia.png"></div>
        <div class="head-mobility-vendor__table-col-small head-mobility-vendor__table-cell-text">2016</div>
        <div class="head-mobility-vendor__table-col-small head-mobility-vendor__table-cell-text">$30,200</div>
        <div class="head-mobility-vendor__table-col-x-small head-mobility-vendor__table-cell-text"><i
            class="material-icons red-dot">fiber_manual_record</i></div>
        <div class="head-mobility-vendor__table-col-medium centered head-mobility-vendor__table-cell-text">4</div>
        <div class="head-mobility-vendor__table-col-small centered head-mobility-vendor__table-cell-text"><a href="#"
                                                                                                    class="no-link-style-blue">View</a>
        </div>
      </div>

      <div class="head-mobility-vendor__table-row head-mobility-vendor__table-body">
        <div class="head-mobility-vendor__table-col-medium head-mobility-vendor__table-cell-text">Leila Drew</div>
        <div class="head-mobility-vendor__table-col-small head-mobility-vendor__table-cell-text">LEB <img
            src="images/Lebanon.png"></div>
        <div class="head-mobility-vendor__table-col-small head-mobility-vendor__table-cell-text">ARG <img
            src="images/Argentina.png"></div>
        <div class="head-mobility-vendor__table-col-small head-mobility-vendor__table-cell-text">2016</div>
        <div class="head-mobility-vendor__table-col-small head-mobility-vendor__table-cell-text">$37,980</div>
        <div class="head-mobility-vendor__table-col-x-small head-mobility-vendor__table-cell-text"><i
            class="material-icons risk-check">fiber_manual_record</i></div>
        <div class="head-mobility-vendor__table-col-medium centered head-mobility-vendor__table-cell-text">23</div>
        <div class="head-mobility-vendor__table-col-small centered head-mobility-vendor__table-cell-text"><a href="#"
                                                                                                    class="no-link-style-blue">View</a>
        </div>
      </div>

      <div class="head-mobility-vendor__table-row head-mobility-vendor__table-body">
        <div class="head-mobility-vendor__table-col-medium head-mobility-vendor__table-cell-text">Federico Gomes
        </div>
        <div class="head-mobility-vendor__table-col-small head-mobility-vendor__table-cell-text">SPA <img
            src="images/Spain.png"></div>
        <div class="head-mobility-vendor__table-col-small head-mobility-vendor__table-cell-text">CHI &nbsp;&nbsp;<img
            src="images/China.png"></div>
        <div class="head-mobility-vendor__table-col-small head-mobility-vendor__table-cell-text">2016</div>
        <div class="head-mobility-vendor__table-col-small head-mobility-vendor__table-cell-text">$43,900</div>
        <div class="head-mobility-vendor__table-col-x-small head-mobility-vendor__table-cell-text"><i
            class="material-icons amber-dot">fiber_manual_record</i></div>
        <div class="head-mobility-vendor__table-col-medium centered head-mobility-vendor__table-cell-text">10</div>
        <div class="head-mobility-vendor__table-col-small centered head-mobility-vendor__table-cell-text"><a href="#"
                                                                                                    class="no-link-style-blue">View</a>
        </div>
      </div>

      <div class="head-mobility-vendor__table-row head-mobility-vendor__table-body last">
        <div class="head-mobility-vendor__table-col-medium head-mobility-vendor__table-cell-text">Richard Brown
        </div>
        <div class="head-mobility-vendor__table-col-small head-mobility-vendor__table-cell-text">GER <img
            src="images/Germany.png"></div>
        <div class="head-mobility-vendor__table-col-small head-mobility-vendor__table-cell-text">MAL <img
            src="images/Malaysia.png"></div>
        <div class="head-mobility-vendor__table-col-small head-mobility-vendor__table-cell-text">2016</div>
        <div class="head-mobility-vendor__table-col-small head-mobility-vendor__table-cell-text">$14,320</div>
        <div class="head-mobility-vendor__table-col-x-small head-mobility-vendor__table-cell-text"><i
            class="material-icons risk-check">fiber_manual_record</i></div>
        <div class="head-mobility-vendor__table-col-medium centered head-mobility-vendor__table-cell-text">15</div>
        <div class="head-mobility-vendor__table-col-small centered head-mobility-vendor__table-cell-text"><a href="#"
                                                                                                    class="no-link-style-blue">View</a>
        </div>
      </div>
    </div>
  </div>
</template>
