<template id="" name="programStatus">
  <div class="card contact_card ey-card-container your-program">
    <div class="ey-card-title ey-card-program-status-title">
      <div class="ey-card-title-txt">
        Program Status
      </div>
      <div class="ey-card-total_coste-dropdow ey-card-total_program-dropdown">
        <!-- filter -->
        <div class="dropdown_ey-card-total-coste ey__dropdown w-dropdown" data-delay="0">
          <div class="ey-dropdown-toggle-item w-dropdown-toggle ey-coste-total-dropdown ey-program-status-dropdown">
            <span class="ey-dropdown-title">EMEA</span>
            <span class="material-icons chevron-dropdow ey-coste-total-dropdown">arrow_drop_down</span>
          </div>
          <nav class="ey-dropdown-list__item w-dropdown-list ey-program-status-dropdown-list">
            <a class="ey-dropdown-list_item_link w-dropdown-link ey-coste-total-dropdown" href="#">Link A</a>
            <a class="ey-dropdown-list_item_link w-dropdown-link ey-coste-total-dropdown" href="#">Link B</a>
          </nav>
        </div>
        <!-- filter -->
      </div>
    </div>
    <ul class="ey-your-program-list">
      <li class="ey-your-program-list_item">Travelers <span>3,093</span></li>
      <li class="ey-your-program-list_item">Assignees<span>543</span></li>
      <li class="ey-your-program-list_item">Non-compliant <span>5</span></li>
      <li class="ey-your-program-list_item total-coste">Total Costs <span>$8.6M</span>
        <span class="total-coste-secondary green"><i class="material-icons arrow_downward ">arrow_downward</i><span class="total-coste-secondary-number">5%</span></span>
      </li>
    </ul>

  </div>
</template>
