<template name="dropdownHeadMobilityYear">
	<div class="w-dropdown">
		<div class="dropdown_container">
			{{#dropdownTrigger name="DropdownFY17__6"}}
				<button class="dropdown-btn select">FY17 <i class="dropdown-icon material-icons">arrow_drop_down</i></button>
			{{/dropdownTrigger}}

			{{#dropdown name="DropdownFY17__6" classes="dropdown--menu" align="left"}}
				<ul class="dropdown__menu dropdown-list">
						<li>FY16</li>
						<li>FY15</li>
				</ul>
			{{/dropdown}}
		</div>
	</div>
</template>
