<template id="" name="dropdowTaskmanager">
  <!-- <nav class="ey-task-dropdow_action_container-list item-4 w-dropdown-list">
    <a class="ey-dropdown-list_item_link w-dropdown-link" href="#">Approve</a>
    <a class="ey-dropdown-list_item_link w-dropdown-link" href="#">Reassign</a>
    <a class="ey-dropdown-list_item_link last-item w-dropdown-link" href="#">View History</a>
  </nav> -->

<!-- <div class="w-dropdown">
  <div class="dropdown_container">
    {{#dropdownTrigger name="select"}}
      <button class="dropdown-btn select">Select <i class="dropdown-icon material-icons">arrow_drop_down</i></button>
    {{/dropdownTrigger}}

    {{#dropdown name="select" classes="dropdown**menu" align="left"}}
      <ul class="dropdown__menu dropdown-list">
        <li >Approve</li>
        <li >Reassign</li>
        <li >View History</li>
      </ul>
    {{/dropdown}}
  </div>
</div> -->
</template>
