<template name="dropdownTaxCostPerf1">
	<div class="dropdown-head-mobility ey__dropdown w-dropdown" data-delay="0">
		<div class="ey-dropdown-toggle-item w-dropdown-toggle">
		  <span class="ey-dropdown-title">Program Tax Cost</span>
		  <span class="material-icons chevron-dropdow">arrow_drop_down</span>
		</div>
		<nav class="ey-dropdown-list__item w-dropdown-list">
			<span class="ey-dropdown-list_item_link w-dropdown-link" onClick="">Income Tax Withholding</span>
			<span class="ey-dropdown-list_item_link w-dropdown-link" onClick="">Employee Tax Return</span>
			<span class="ey-dropdown-list_item_link w-dropdown-link" onClick="">Employee Social Tax</span>
			<span class="ey-dropdown-list_item_link w-dropdown-link" onClick="">Employer Social Tax</span>
			<span class="ey-dropdown-list_item_link last w-dropdown-link" onClick="">Deadlines</span>
		</nav>
	</div>
</template>
