<template id="" name="headerEmployee">
	<div class="header header-employee">
		<div class="header__left-container">
			<div class="header__search-bar-container">
			  <input class="header__search-bar" type="text" placeholder="Search">
				<i class="material-icons header__left-search-icon">search</i>
			</div>
		</div>

		<div class="header__right-container">
			<div><i class="material-icons header__notification-icon">notifications</i></div>
			<div class="header__user-name">{{name}}</div>
			<div class="header__profile-picture-container">
				<img height="24" width="24" src="{{imageUrl}}">
			</div>
			<div class="header__dots-container">
				<i class="material-icons">fiber_manual_record</i>
				<i class="material-icons">fiber_manual_record</i>
				<i class="material-icons">fiber_manual_record</i>
			</div>

			<div class="header__dots-dropdown hide special-fix">
				<div class="header__dots-dropdown-option change-profile">Change profile</div>
				<div class="header__dots-dropdown-option end-demo">End demo</div>
			</div>

			<div class="header-employee__dropdown hide">
				<div class="header__dots-dropdown-option business-traveler">Business traveler</div>
				<div class="header__dots-dropdown-option managing-compliance">Managing compliance</div>
				<div class="header__dots-dropdown-option on-assignment">On assignment</div>
			</div>
		</div>
	</div>
</template>
