<template id="" name="modalTaskManager">
  <!--modal -->
  <div class="overlay hidden">
    <div class="modal-box modal-task">
      <div class="modal-title">Initiate new service <i class="material-icons icon-right close">close</i></div>
      <div class="modal-content task-manager-modal-form">

        <div class="row modal-task-manager">
          <div class="input-form w-col-6 name">
            <label class="label" for="name">Employee</label>
            <input class="input name-input" type="text" name="name"  placeholder="Enter name">
          </div><!-- /.col-6 -->

          <div class="dropdown-form w-col-6 modal-task-manager-drop">
            <div class="w-clearfix w-dropdown" data-delay="0">
              <label class="label" >Policy type</label>
              <div class="dropdown_container">
                {{#dropdownTrigger name="Policy-Type"}}
                  <button class="dropdown-btn">Long term assignment <i class="dropdown-icon material-icons">arrow_drop_down</i></button>
                {{/dropdownTrigger}}

                {{#dropdown name="Policy-Type" classes="dropdown--menu" align="left"}}
                  <ul class="dropdown__menu dropdown-list">
                    <li>Short term assignment</li>
                    <li>Transferee</li>
                  </ul>
                {{/dropdown}}
              </div><!--/.dropdown_container -->
            </div>
          </div><!--/.col-6 -->
        </div><!--/.row -->

        <div class="modal-task-manager-main-content row">
          <div class="w-col-4">
            <i class="material-icons task-manager-modal">check_box</i> <p>Immigration</p>
          </div>
          <div class="w-col-4">
            <a href="#" class="click_1 material-icons task-manager-modal show">check_box</a>
            <a href="#" class="click_2 material-icons task-manager-modal  hidden">check_box_outline_blank</a> <p>Tax service</p>
          </div>
          <div class="w-col-4">
            <i class="material-icons task-manager-modal">check_box</i> <p>Relocation</p>
          </div>
        </div>

        <div class="modal-task-manager-main-content row">
          <div class="w-col-6">
            <i class="material-icons task-manager-modal">check_box</i> <p>International social security</p>
          </div>
          <div class="w-col-6">
            <i class="material-icons task-manager-modal">check_box</i> <p>Compensation management</p>
          </div>
        </div>

      </div>
      <div class="btn-container task-manager-modal-footer">
        <button type="button" name="button" class="ey-primary-button next-task-manager">Next</button>
      </div>
<!-- /.Step 2 -->
      <div class="modal-task-manager-sec-box hidden">
        <label class="modal-task-manager_section-title">Contact information</label>
        <div class="row modal-task-manager sec-box">
          <div class="input-form w-col-6">

            <div class="input-content">
              <label class="label" for="name">Address</label>
              <div class="input adress" >20 Battlebridge Avenue, London</div>
              <!-- <input class="input" type="text" name="name" value="Enter name" placeholder="Enter name"> -->
            </div><!--/.input-content -->

            <div class="input-content">
              <label class="label" for="name" style="margin-top: -13px;">Phone</label>
              <div class="input" >+44(0)7718 382396</div>
              <!-- <input class="input" type="text" name="name" value="Enter name" placeholder="Enter name"> -->
            </div><!--/.input-content -->

           </div><!-- /.col-6 -->

          <div class="input-form w-col-6 sec-col">
            <label class="label" for="name">E-mail</label>
            <div class="input" >tmcmanaman@ey.com</div>
            <!-- <input class="input" type="text" name="name" value="Enter name" placeholder="Enter name"> -->
          </div><!-- /.col-6 -->
        </div><!-- /.row -->

        <label class="modal-task-manager_section-title">Assignment</label>
        <div class="row modal-task-manager sec-box">
            <div class="input-form w-col-6">
              <div class="input-content col-dropdown">
                <label class="label" for="name">Host country</label>
                <div class="dropdown_container">
                  {{#dropdownTrigger name="country"}}
                    <button class="dropdown-btn select">Hong Kong <i class="dropdown-icon material-icons">arrow_drop_down</i></button>
                  {{/dropdownTrigger}}

                  {{#dropdown name="country" classes="dropdown--menu" align="left"}}
                    <ul class="dropdown__menu dropdown-list">
                      <li> Hungary</li>
                      <li>Iceland</li>
                      <li>India</li>
                    </ul>
                  {{/dropdown}}
                </div><!--/.dropdown_container -->
              </div><!--/.input-content -->
                <label class="label" for="name">Duration</label>
                <div class="row display-flex">
                  <div class="w-col-6">
                    <div class="input-content col-dropdown margin-right">
                      <div class="dropdown_container">
                        {{#dropdownTrigger name="duration"}}
                          <button class="dropdown-btn select">18 <i class="dropdown-icon material-icons">arrow_drop_down</i></button>
                        {{/dropdownTrigger}}

                        {{#dropdown name="duration" classes="dropdown--menu" align="left"}}
                          <ul class="dropdown__menu dropdown-list">
                            <li>12</li>
                            <li>24</li>
                            <li>26</li>
                          </ul>
                        {{/dropdown}}
                      </div><!--/.dropdown_container -->
                    </div>
                  </div>
                  <div class="w-col-6">
                    <div class="input-content col-dropdown margin-left ">
                      <div class="dropdown_container">
                      {{#dropdownTrigger name="duration2"}}
                        <button class="dropdown-btn select">Months<i class="dropdown-icon material-icons">arrow_drop_down</i></button>
                      {{/dropdownTrigger}}

                      {{#dropdown name="duration2" classes="dropdown--menu" align="left"}}
                        <ul class="dropdown__menu dropdown-list">
                            <li class="dropdown__menu-list-item"><a href="#">Years</a></li>
                        </ul>
                      {{/dropdown}}
                      </div><!--/.dropdown_container -->
                    </div>
                  </div>
                </div>



          </div><!-- /"w-col-6" -->

         <div class="input-form w-col-6 sec-col ">
           <div class="input-content">
             <label class="label" for="name">Start date</label>
             <div class="row display-flex">
               <div class="w-col-4">
                 <div class="input-content col-dropdown margin-right ">
                   <div class="dropdown_container">
                     {{#dropdownTrigger name="day"}}
                       <button class="dropdown-btn select">01 <i class="dropdown-icon material-icons">arrow_drop_down</i></button>
                     {{/dropdownTrigger}}

                     {{#dropdown name="day" classes="dropdown--menu" align="left"}}
                       <ul class="dropdown__menu dropdown-list">
                         <li>02</li>
                         <li>04</li>
                         <li>05</li>
                       </ul>
                     {{/dropdown}}
                   </div><!--/.dropdown_container -->
                 </div>
               </div>
               <div class="w-col-4">
                 <div class="input-content col-dropdown margin">
                   <div class="dropdown_container">
                       {{#dropdownTrigger name="month"}}
                         <button class="dropdown-btn select">July<i class="dropdown-icon material-icons">arrow_drop_down</i></button>
                       {{/dropdownTrigger}}
                   {{#dropdown name="month" classes="dropdown--menu" align="left"}}
                     <ul class="dropdown__menu dropdown-list">
                         <li>January</li>
                         <li>February</li>
                         <li>March</li>
                         <li>April</li>
                         <li>May</li>
                         <li>June</li>
                         <li>July</li>
                         <li>August</li>
                         <li>September</li>
                         <li>October</li>
                         <li>November</li>
                         <li>December</li>
                     </ul>
                   {{/dropdown}}
                   </div><!--/.dropdown_container -->
                 </div>
               </div>
               <div class="w-col-4">
                 <div class="input-content col-dropdown margin-left">
                   <div class="dropdown_container">
                   {{#dropdownTrigger name="year"}}
                     <button class="dropdown-btn select">2017<i class="dropdown-icon material-icons">arrow_drop_down</i></button>
                   {{/dropdownTrigger}}

                   {{#dropdown name="year" classes="dropdown--menu" align="left"}}
                     <ul class="dropdown__menu dropdown-list">
                         <li>2018</li>
                         <li>2019</li>
                         <li>2020</li>
                     </ul>
                   {{/dropdown}}
                   </div><!--/.dropdown_container -->
                 </div>
               </div>
             </div>

           </div>

           <div class="input-content">
             <label class="label" for="name">Base salary</label>
             <div class="row display-flex">
               <div class="w-col-6">
                 <div class="input-content margin-right">
                   <input class="input salary" type="text" name="base-salary"  placeholder="Enter base salary">
                 </div>
               </div>
               <div class="w-col-6">

                 <div class="input-content col-dropdown margin-left">
                   <div class="dropdown_container">
                   {{#dropdownTrigger name="currency"}}
                     <button class="dropdown-btn select">HKD<i class="dropdown-icon material-icons">arrow_drop_down</i></button>
                   {{/dropdownTrigger}}

                   {{#dropdown name="currency" classes="dropdown--menu" align="left"}}
                     <ul class="dropdown__menu dropdown__menu-list">
                         <li >GBP</li>
                         <li >USD</li>
                         <li >EUR</li>
                     </ul>
                   {{/dropdown}}
                   </div><!--/.dropdown_container -->
                 </div>
               </div>
             </div>
           </div>
         </div>
        </div><!-- /.row -->

        <label class="modal-task-manager_section-title family" style="  margin-top: 8px;">Family information</label>

        <div class="row modal-task-manager sec-box family1">
            <div class="input-form w-col-6">
              <div class="input-content">
                <label class="label" for="name">Marital status</label>
                <div class="input" type="text" name="marital-status">Married</div>
              </div><!--/.input-content -->
            </div><!-- /"w-col-6" -->

         <div class="input-form w-col-6 sec-col family3">
           <div class="input-content">
             <label class="label" for="name">Dependants</label>
             <div class="input" type="text" name="dependants">2</div>
           </div>

         </div>

        </div><!-- /.row -->
      </div><!-- /.modal-task-manager-sec-box -->
      <div class="btn-container task-manager-modal-footer hidden btn2">
        <button type="button" name="back-button" class="ey-secondary-button next-task-manager initial-services button-btn2 back-button">Back</button>
        <button type="button" name="button" class="ey-primary-button next-task-manager initial-services button-btn2">Initiate services</button>
      </div>

    </div><!--/.modal-box -->
<!-- /.Step 2 -->

  </div>
  <!--modal -->



</template>
