<template id="" name="modalDashboadMobility">
  <!--modal -->
  <div class="overlay hidden modal-mobility-dashboard">
    <div class="modal-box">
      <div class="modal-box-inner">
        <div class="modal-mobility-dashboard modal-title yellow-line">
          <span>Non-compliant employees FY17</span>
          <a class="close" href="#"><i class="modal-mobility-dashboard material-icons icon-right">close</i></a>
        </div>
        <div class="modal-mobility-dashboard-table-row title">
          <div class="modal-mobility-dashboard-table_col one">
            Name
          </div>
          <div class="modal-mobility-dashboard-table_col two">
            Job title
          </div>
          <div class="modal-mobility-dashboard-table_col three">
            Compliance issue
          </div>
          <div class="modal-mobility-dashboard-table_col four">
            Action
          </div>
        </div>


        <div class="modal-mobility-dashboard-table-row content">
          <a href="#" class="modal-mobility-dashboard-table_col one no-link-style-blue">
            Marlene Finch
          </a>
          <div class="modal-mobility-dashboard-table_col two">
            Senior Manager, Supply Chain
          </div>
          <div class="modal-mobility-dashboard-table_col three">
            Work permit expiry
          </div>
          <div class="modal-mobility-dashboard-table_col four ">
            <a href="#" class="no-link-style-blue">View</a>
          </div>
        </div>



        <div class="modal-mobility-dashboard-table-row content">
          <a href="/employeeProfile" class="modal-mobility-dashboard-table_col one no-link-style-blue">
            Felipe Costa
          </a>
          <div class="modal-mobility-dashboard-table_col two">
            Director, HR and Talent
          </div>
          <div class="modal-mobility-dashboard-table_col three">
            Incomplete tax return
          </div>
          <div class="modal-mobility-dashboard-table_col four ">
            <a href="/employeeProfile" class="no-link-style-blue">View</a>
          </div>
        </div>

        <div class="modal-mobility-dashboard-table-row content">
          <a href="#" class="modal-mobility-dashboard-table_col one no-link-style-blue">
            Chinwemma Chukwudi
          </a>
          <div class="modal-mobility-dashboard-table_col two">
            Senior Manager
          </div>
          <div class="modal-mobility-dashboard-table_col three">
            Immigration documentation
          </div>
          <div class="modal-mobility-dashboard-table_col four ">
            <a href="#" class="no-link-style-blue">View</a>
          </div>
        </div>

        <div class="modal-mobility-dashboard-table-row content">
          <a href="#" class="modal-mobility-dashboard-table_col one no-link-style-blue">
            Jun Hsieh
          </a>
          <div class="modal-mobility-dashboard-table_col two">
            VP, Marketing
          </div>
          <div class="modal-mobility-dashboard-table_col three">
            Work permit expiry
          </div>
          <div class="modal-mobility-dashboard-table_col four ">
            <a href="#" class="no-link-style-blue">View</a>
          </div>
        </div>

        <div class="modal-mobility-dashboard-table-row content last">
          <a href="#" class="modal-mobility-dashboard-table_col one no-link-style-blue">
            Sofia Beneventi
          </a>
          <div class="modal-mobility-dashboard-table_col two">
            Manager
          </div>
          <div class="modal-mobility-dashboard-table_col three">
            Work permit expiry
          </div>
          <div class="modal-mobility-dashboard-table_col four ">
            <a href="#" class="no-link-style-blue">View</a>
          </div>
        </div>

        <div class="modal-mobility-dashboard-footer-action">
          <div class="btn-container non-compliant-modal-footer">
            <button type="button" name="button" class="ey-secondary-button non-compliant">Edit message</button>
            <button type="button" name="button" class="ey-secondary-button non-compliant">Select recipients</button>
            <button type="button" name="button" class="ey-primary-button non-compliant">Send bulk alert</button>
          </div>
        </div>
      </div>
    </div><!--/.modal-box -->


  </div>
  <!--modal -->
</template>
