<template id="" name="modalTaxPaymentAuthorization">
  <!--modal -->
  <div class="overlay overlay-tax-payment modal-mobility-dashboard">
    <div class="modal-box tax-payment">
      <div class="modal-box-inner">
        <div class="modal-mobility-dashboard modal-title yellow-line tax-payment">
          <span>Tax payment authorization</span>
          <a class="close" href="#"><i class="modal-mobility-dashboard material-icons icon-right">close</i></a>
        </div>
        <p class="modal-mobility-dashboard modal-title_subline">Please authorize the following payments to be made to employees:</p>

        <div class="modal-mobility-dashboard-table-row tax-payment title">
          <div class="modal-mobility-dashboard-table_col one">
            Name
          </div>
          <div class="modal-mobility-dashboard-table_col two">
            Country
          </div>
          <div class="modal-mobility-dashboard-table_col three">
            Year
          </div>
          <div class="modal-mobility-dashboard-table_col four">
            Amount
          </div>
          <div class="modal-mobility-dashboard-table_col five">
            Due
          </div>
          <div class="modal-mobility-dashboard-table_col six">
            Action
          </div>
        </div>

        <div class="modal-mobility-dashboard-table-row tax-payment content line-hidden">
          <a href="#" class="modal-mobility-dashboard-table_col one no-link-style-blue">
          Amy Weston
          </a>
          <div class="modal-mobility-dashboard-table_col two">
            <span class="country-name">USA</span> <img class="img-flag" src="images/flag/United-States.png" alt="">
          </div>
          <div class="modal-mobility-dashboard-table_col three">
            FY17
          </div>
          <div class="modal-mobility-dashboard-table_col four ">
            1,023.11 USD
          </div>
          <div class="modal-mobility-dashboard-table_col five">
            1 Sep
          </div>
          <div class="modal-mobility-dashboard-table_col six">
              <a href="#" class="no-link-style-blue approve">Approve</a>
          </div>
        </div>

        <div class="modal-mobility-dashboard-table-row tax-payment content line-hidden_1">
          <a href="#" class="modal-mobility-dashboard-table_col one no-link-style-blue">
          Jonjo Bantham
          </a>
          <div class="modal-mobility-dashboard-table_col two">
            <span class="country-name">HK</span> <img class="img-flag" src="images/flag/Hong-Kong.png" alt="">
          </div>
          <div class="modal-mobility-dashboard-table_col three">
            FY17
          </div>
          <div class="modal-mobility-dashboard-table_col four ">
            4,324.49 HKD
          </div>
          <div class="modal-mobility-dashboard-table_col five">
            3 Sep
          </div>
          <div class="modal-mobility-dashboard-table_col six ">
              <a href="#" class="no-link-style-blue approve_1">Approve</a>
          </div>
        </div>

        <div class="modal-mobility-dashboard-table-row tax-payment content line-hidden_2">
          <a href="#" class="modal-mobility-dashboard-table_col one no-link-style-blue">
          Andrew Jupp
          </a>
          <div class="modal-mobility-dashboard-table_col two">
            <span class="country-name">USA </span> <img class="img-flag" src="images/flag/United-States.png" alt="">
          </div>
          <div class="modal-mobility-dashboard-table_col three">
            FY17
          </div>
          <div class="modal-mobility-dashboard-table_col four ">
            2,367.01 USD
          </div>
          <div class="modal-mobility-dashboard-table_col five">
            3 Sep
          </div>
          <div class="modal-mobility-dashboard-table_col six">
              <a href="#" class="no-link-style-blue approve_2">Approve</a>
          </div>
        </div>

        <div class="modal-mobility-dashboard-table-row tax-payment content line-hidden_3 last">
          <a href="#" class="modal-mobility-dashboard-table_col one no-link-style-blue">
          Sarah Hawkins
          </a>
          <div class="modal-mobility-dashboard-table_col two">
            <span class="country-name">CAN</span> <img class="img-flag" src="images/flag/Canada.png" alt="">
          </div>
          <div class="modal-mobility-dashboard-table_col three">
            FY17
          </div>
          <div class="modal-mobility-dashboard-table_col four ">
            2,367.01 USD
          </div>
          <div class="modal-mobility-dashboard-table_col five">
            3 Sep
          </div>
          <div class="modal-mobility-dashboard-table_col six">
              <a href="#" class="no-link-style-blue approve_3">Approve</a>
          </div>
        </div>



        <div class="modal-mobility-dashboard-footer-action tax-payment">
          <div class="tax-payment-modal-footer">
            <a href="#">View all tax payment authorization <i class="material-icons righ-icon">chevron_right</i></a>
          </div>
        </div>
      </div>
    </div><!--/.modal-box -->


  </div>
  <!--modal -->
</template>
