<template id="" name="modal">
  <!--modal -->
  <div class="overlay hidden">
    <div class="modal-box">
      <!-- modal done box after upload-->
      <div class="modal-done hidden">
          <i class="material-icons modal-success-close-icon">close</i>
          <div class="check-box_icon"><i class="material-icons">check_circle</i></div>
          <p class="check-box_txt">File uploaded successfully</p>
          <button type="button" name="button" class="ey-primary-button btn-done">Continue</button>
      </div>
      <!-- modal done box after upload-->

      <div class="modal-title">Please upload a document for your work permit application<i class="material-icons icon-right">close</i></div>
      <div class="modal-content drag-and-drop">

        <div class="box1">
          <span class="modal-btn btn-transparent" onClick="">Browse on your device</span>
          <div class="dni hidden">
            <img src="images/lisa-wiltz-passport.png" alt="">
          </div>
        </div>

      </div>
      <div class="btn-container">
        <button type="button" name="button" class="ey-btn-grey">Cancel</button>
        <button type="button" name="button" class="ey-primary-button">Upload</button>
      </div>
    </div><!--/.modal-box -->


  </div>
  <!--modal -->



</template>
