<template id="" name="modalHeadOfMobility">
  <div class="overlay hidden modal-head-of-mobility">
    <div class="modal-box">

      <div class="modal-title">Tax returns alert<i class="material-icons icon-right close-modal">close</i></div>
      <div class="modal-content">
      <div class="modal-content-text">Send a notification to Mobility Managers about ’at risk’ employees</div>
      </div>
      <div class="btn-container">
        <button type="button" name="button" class="ey-btn-grey edit-message">Edit message</button>
        <button type="button" name="button" class="ey-btn-grey select-recipients">Select recipients</button>
        <button type="button" name="button" class="ey-primary-button send-bulk-alert">Send bulk alert</button>
      </div>
    </div>

  </div>

</template>
