<template name="navMob">
  <div class="ey-left-navigation">
    <div class="ey-left-nav-logo-container"><img class="ey-left-nav-logo" height="50" src="images/logo.svg" width="50">
    </div>
    <div>
      <ul class="ey-left-nav-list w-list-unstyled">
        <li class="ey-left-nav-list-item">
          <a class="ey-nav-link-bloc w-inline-block" href="/dashboardMobilityManager">
            <div class="ey-nav-link-text w-clearfix"><span class="material-icons nav-ico">home</span>&nbsp;Home</div>
          </a>
        </li>
        <li class="ey-left-nav-list-item has-sub-menu">
          <a class="ey-nav-link-bloc w-inline-block" href="#">
            <div class="ey-nav-link-text w-clearfix"><span class="material-icons nav-ico">supervisor_account</span> Services</div>
          </a>
          <ul class="ey-sub-nav-list">
            <li class="ey-sub-nav-link-bloc"><i class="material-icons">subdirectory_arrow_right</i>Tax & Social Security</li>
            <li class="ey-sub-nav-link-bloc"><i class="material-icons">subdirectory_arrow_right</i>Immigration</li>
            <li class="ey-sub-nav-link-bloc"><i class="material-icons">subdirectory_arrow_right</i>Compensation</li>
            <li class="ey-sub-nav-link-bloc"><i class="material-icons">subdirectory_arrow_right</i>Travel risk</li>
          </ul>
        </li>
        <li class="ey-left-nav-list-item">
          <a class="ey-nav-link-bloc w-inline-block" href="#">
            <div class="ey-nav-link-text w-clearfix"><span class="material-icons nav-ico">assignment_ind</span>&nbsp;Mobile Employees</div>
          </a>
        </li>
        <li class="ey-left-nav-list-item">
          <a class="ey-nav-link-bloc w-inline-block" href="#">
            <div class="ey-nav-link-text w-clearfix"><span class="material-icons nav-ico">library_books</span>&nbsp;Insight</div>
          </a>
        </li>
        <li class="ey-left-nav-list-item">
          <a class="ey-nav-link-bloc w-inline-block" href="/knowledgeCenter">
            <div class="active ey-nav-link-text w-clearfix"><span class="material-icons nav-ico">local_library</span>&nbsp;Knowledge centre</div>
          </a>
        </li>
        <li class="ey-left-nav-list-item">
          <a class="ey-nav-link-bloc w-inline-block" href="/taskManager">
            <div class="ey-nav-link-text"><span class="material-icons">done_all</span>&nbsp;Task manager</div>
          </a>
        </li>
        <li class="ey-left-nav-list-item">
          <a class="ey-nav-link-bloc w-inline-block" href="#">
            <div class="ey-nav-link-text"><span class="material-icons">phone</span>&nbsp;Contacts</div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</template>
