<template id="" name="slider">
  <div class="card">
    <div class="ey-slider-box">
      <div class="ey-knowledge-card-label-box">
      </div>
    </div>
    <div class="ey-knowledge-slider-caption-box">
      <div class="ey-slider-caption-title">South Africa mobility policy advisory 2017</div>
      <div class="ey-knowledge-slider-text">Recommended articles because you have mobile employees in South Africa</div>
      <div class="ey-knowledge-slider-read-more">Read more</div>
    </div>
  </div>
</template>
