<template name="toggleTable">
  <div class="toggle-table-container">
    <div class="toggle-table-item">
      Cost type
      <img class="toggle-icon" src="images/yellow-toggle.png">
    </div>
    <div class="toggle-table-item">
      Business unit
      <img class="toggle-icon" src="images/grey-toggle.png">
    </div>
    <div class="toggle-table-item">
      Grade
      <img class="toggle-icon" src="images/grey-toggle.png">
    </div>
    <div class="toggle-table-item">
      Performance
      <img class="toggle-icon" src="images/grey-toggle.png">
    </div>
  </div>
</template>
