<template id="" name="scenarioAnalysis">
  <div class="card ey-card-container">
    <div class="ey-card-title">
      <div class="ey-card-title-txt">Scenario analysis</div>
    </div>
    <div class="ey-card-item-container w-inline-block" href="#">
      <div class="ey-card-item w-clearfix insight-scenario-analysis">
        <div class="insight-scenario-analysis-text">
          View the impact of exchange rate fluctuations on your mobility program total costs
        </div>
        <div>
          <a href="#" class="no-link-style-blue">See more</a>
        </div>
      </div>
      <div class="ey-card-item w-clearfix insight-scenario-analysis">
        <div class="insight-scenario-analysis-text">
          Discover the impact of immigration control changes in the EU and the US on speed to deploy
        </div>
        <div>
          <a href="#" class="no-link-style-blue">See more</a>
        </div>
      </div>
      <div class="ey-card-item w-clearfix insight-scenario-analysis last last-scenario-analysis">
        <div class="insight-scenario-analysis-text">
          How will your program be affected if you restrict assignments to high performing employees?
        </div>
        <div>
          <a href="#" class="no-link-style-blue">See more</a>
        </div>
      </div>
    </div>
  </div>
</template>
